/*
Theme Name: JUST TOTAL TECH
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
   16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/
html {
  color: rgba(0, 0, 0, 0.54);
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal; }
  html a {
    color: blue;
    text-decoration: none; }
    html a:hover {
      text-decoration: none !important;
      color: blue; }
  html img {
    max-width: 100%;
    height: auto; }

body {
  margin: 0; }

@keyframes smoothScroll {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0px); } }
.search-form .search-field {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 7px;
  width: 320px;
  margin-left: 10px; }
.search-form .search-submit {
  border: 1px solid #ddd;
  background: #ddd;
  border-radius: 2px;
  padding: 7px 10px; }

.search-submit .icon-search {
  width: 15px;
  height: 15px; }
.search-submit .screen-reader-text {
  display: none; }

.header-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.col-padding {
  padding: 0 15px; }

.divider {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  margin: 19px auto; }

.top-header-bar {
  display: inline-block;
  width: 100%;
  /* height: 65px; */
  padding: 7px 0 10px 0;
  background: #fff; }
  .top-header-bar.animateIt {
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 0 2px 14px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 14px -2px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 7px 0 16px 0;
    animation: smoothScroll 0.5s; }
  .top-header-bar #header_menu {
    display: inline-block;
    width: 100%;
    padding-top: 29px;
    text-align: center; }
    .top-header-bar #header_menu ul {
      padding: 0;
      margin: 0 auto;
      display: inline-block; }
      .top-header-bar #header_menu ul li {
        display: inline-block;
        list-style-type: none;
        margin-left: 20px;
        position: relative;
        padding-bottom: 5px;
        text-align: left; }
        .top-header-bar #header_menu ul li:first-child {
          margin-left: 0; }
        .top-header-bar #header_menu ul li a {
          text-decoration: none;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
          letter-spacing: .05em;
          color: rgba(0, 0, 0, 0.54);
          fill: rgba(0, 0, 0, 0.54);
          cursor: pointer;
          font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
          font-style: normal;
          font-weight: 400; }
          .top-header-bar #header_menu ul li a svg {
            display: none; }
        .top-header-bar #header_menu ul li .sub-menu {
          display: none;
          position: absolute;
          background: #fff;
          border: 1px solid #ddd;
          padding: 15px;
          min-width: 250px;
          margin-top: 7px;
          z-index: 99;
          box-shadow: 0 6px 10px -4px #00000087; }
          .top-header-bar #header_menu ul li .sub-menu:before {
            content: "";
            position: absolute;
            top: -9px;
            left: 10px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #ddd; }
          .top-header-bar #header_menu ul li .sub-menu.f_toggle {
            display: block !important; }
          .top-header-bar #header_menu ul li .sub-menu li {
            float: none;
            display: block;
            margin-left: 0;
            margin-bottom: 6px;
            text-align: left; }
            .top-header-bar #header_menu ul li .sub-menu li a {
              font-size: 14px;
              text-transform: capitalize; }
      .top-header-bar #header_menu ul .menu-item-has-children {
        position: relative; }
        .top-header-bar #header_menu ul .menu-item-has-children:hover .sub-menu {
          display: inline-block !important; }
        .top-header-bar #header_menu ul .menu-item-has-children:not(:hover) .sub-menu {
          display: none; }
        .top-header-bar #header_menu ul .menu-item-has-children:before {
          content: "";
          position: absolute;
          top: 8px;
          right: -10px;
          width: 0;
          height: 0;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 5px solid #777070; }
      .top-header-bar #header_menu ul .current-menu-item a a {
        color: rgba(0, 0, 0, 0.84) !important; }
  .top-header-bar .site-logo {
    display: inline-block;
    width: 100%; }
    .top-header-bar .site-logo .custom-logo-link {
      margin-left: -10px; }
    .top-header-bar .site-logo .text {
      font-size: 34px;
      font-weight: bold;
      display: inline-block;
      text-decoration: none !important;
      color: #0075c1;
      margin-top: 5px; }
    .top-header-bar .site-logo img {
      /*max-width: 100%;
      width: 213px;
      height: auto !important;
      margin-top: 8px;*/ }
    .top-header-bar .site-logo .custom-logo-img {
      max-width: 100%;
      /* width: 213px; */
      height: 60px;
      /* height: auto !important; */
      margin-top: 8px; }
  .top-header-bar .search {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-top: 16px; }
    .top-header-bar .search ul {
      float: right;
      display: inline-block;
      margin: 0;
      padding: 0; }
      .top-header-bar .search ul li {
        display: inline-block;
        list-style-type: none;
        margin-left: 18px; }
        .top-header-bar .search ul li:first-child {
          margin-left: 0; }
        .top-header-bar .search ul li.search-button {
          transition: all 0.7s ease 0s; }
          .top-header-bar .search ul li.search-button span {
            fill: rgba(0, 0, 0, 0.54);
            color: rgba(0, 0, 0, 0.54);
            display: inline-block;
            position: relative;
            top: 8px;
            left: 8px;
            cursor: pointer;
            transition: all 0.7s ease 0s;
            text-align: right; }
          .top-header-bar .search ul li.search-button form {
            width: 0;
            transition: all 0.7s ease 0s;
            display: inline-block; }
            .top-header-bar .search ul li.search-button form .search-field {
              color: rgba(0, 0, 0, 0.84);
              padding: 8px;
              text-align: left;
              border: 0;
              outline: none !important;
              font-size: 16px;
              border-radius: 2px;
              width: 100%;
              font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
              letter-spacing: 0;
              font-weight: 400;
              font-style: normal; }
          .top-header-bar .search ul li.search-button .f_toggle {
            width: calc(100% - 30px); }
        .top-header-bar .search ul li a {
          text-decoration: none !important; }
          .top-header-bar .search ul li a.btn-link-started {
            color: #03a87c;
            border: 1px solid #03a87c;
            height: 37px;
            line-height: 34px;
            padding: 0 16px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            font-size: 16px;
            display: inline-block; }

.header-manage {
  height: 93px;
  display: inline-block;
  width: 100%; }

/*@media (min-width: 768px) {
	.top-header-bar.header-fixed {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.top-header-bar.header-fixed {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.top-header-bar.header-fixed {
		width: 1170px;
	}
}*/
.top-header-menu {
  padding: 10px 0 10px;
  width: 100%;
  display: inline-block;
  transition: all 0.7s ease 0s;
  margin-bottom: 3px; }
  .top-header-menu.header-fixed {
    transition: all 0.7s ease 0s;
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; }
  .top-header-menu ul {
    padding: 0;
    margin: 0;
    display: inline-block; }
    .top-header-menu ul li {
      display: inline-block;
      list-style-type: none;
      margin-left: 20px;
      position: relative;
      padding-bottom: 10px; }
      .top-header-menu ul li:first-child {
        margin-left: 0; }
      .top-header-menu ul li a {
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: .05em;
        color: rgba(0, 0, 0, 0.54);
        fill: rgba(0, 0, 0, 0.54);
        cursor: pointer;
        font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
        font-style: normal;
        font-weight: 400; }
        .top-header-menu ul li a svg {
          display: none; }
      .top-header-menu ul li .sub-menu {
        display: none;
        position: absolute;
        background: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        min-width: 250px;
        margin-top: 7px;
        z-index: 99;
        box-shadow: 0 6px 10px -4px #00000087; }
        .top-header-menu ul li .sub-menu:before {
          content: "";
          position: absolute;
          top: -9px;
          left: 10px;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #ddd; }
        .top-header-menu ul li .sub-menu.f_toggle {
          display: block !important; }
        .top-header-menu ul li .sub-menu li {
          float: none;
          display: block;
          margin-left: 0;
          margin-bottom: 6px; }
          .top-header-menu ul li .sub-menu li a {
            font-size: 14px;
            text-transform: capitalize; }
    .top-header-menu ul .menu-item-has-children {
      position: relative; }
      .top-header-menu ul .menu-item-has-children:hover .sub-menu {
        display: inline-block !important; }
      .top-header-menu ul .menu-item-has-children:not(:hover) .sub-menu {
        display: none; }
      .top-header-menu ul .menu-item-has-children:before {
        content: "";
        position: absolute;
        top: 8px;
        right: -10px;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 5px solid #777070; }
    .top-header-menu ul .current-menu-item a a {
      color: rgba(0, 0, 0, 0.84) !important; }

.recent-posts .post-box {
  display: inline-block;
  width: 100%; }
  .recent-posts .post-box a {
    text-decoration: none !important; }
  .recent-posts .post-box .title {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    -webkit-transform: translateY(-0.72px);
    transform: translateY(-0.72px);
    letter-spacing: -.42px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.84);
    margin-bottom: 4px;
    display: inline-block;
    width: 100%; }
  .recent-posts .post-box .content-box {
    width: 100%; }
    .recent-posts .post-box .content-box .content {
      --x-height-multiplier: 0.342;
      --baseline-multiplier: 0.22;
      font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
      font-style: normal;
      letter-spacing: 0;
      font-size: 16px;
      line-height: 20px;
      -webkit-transform: translateY(1.52px);
      transform: translateY(1.52px);
      font-weight: 400;
      overflow: hidden;
      max-height: 60px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      color: rgba(0, 0, 0, 0.54);
      fill: rgba(0, 0, 0, 0.54);
      margin: 0 0 5px; }
  .recent-posts .post-box .post_thumbnail {
    display: inline-block;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    position: relative;
    background-position: 50% 50%;
    background-origin: border-box;
    background-size: cover;
    border: 1px solid #f5f5f5; }
  .recent-posts .post-box .first-post {
    display: inline-block;
    width: 100%; }
  .recent-posts .post-box .middle-post {
    display: inline-block;
    width: 100%; }
    .recent-posts .post-box .middle-post .post_thumbnail {
      width: 100px;
      height: 100px;
      margin-right: 24px;
      display: inline-block;
      float: left; }
    .recent-posts .post-box .middle-post .content-box {
      width: calc(100% - 130px);
      display: inline-block;
      float: right; }
    .recent-posts .post-box .middle-post .title {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -.17px;
      margin-bottom: 10px; }
  .recent-posts .post-box .last-post {
    display: inline-block;
    width: 100%; }

.other-info {
  display: inline-block;
  width: 100%;
  margin-top: 12px; }
  .other-info p {
    margin: 0; }
  .other-info .author {
    color: rgba(0, 0, 0, 0.84);
    font-style: normal;
    letter-spacing: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400; }
  .other-info .publish-date {
    line-height: 1.4;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54); }

#right_content .divider,
#left_content .divider {
  margin: 19px auto 25px; }

.left-content {
  display: inline-block;
  width: 100%; }
  .left-content .post_thumbnail {
    width: 100%;
    height: 131px;
    margin-top: 0;
    display: inline-block;
    position: relative;
    background-position: 50% 50%;
    background-origin: border-box;
    background-size: cover;
    border: 1px solid #f5f5f5; }
  .left-content .post-group {
    margin-bottom: 48px; }
    .left-content .post-group .content {
      --x-height-multiplier: 0.342!important;
      --baseline-multiplier: 0.22!important;
      font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
      font-style: normal !important;
      letter-spacing: 0 !important;
      font-size: 16px !important;
      line-height: 20px !important;
      -webkit-transform: translateY(1.52px);
      transform: translateY(1.52px);
      font-weight: 400 !important; }

.side-bar {
  display: inline-block;
  width: 100%; }

.main-title {
  color: rgba(0, 0, 0, 0.84);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2; }

.widget-title {
  color: rgba(0, 0, 0, 0.84);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -.42px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
  padding-bottom: 15px;
  margin-bottom: 30px; }

.content-post-title {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -.42px;
  margin-bottom: 5px;
  margin-top: 0; }
  .content-post-title a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.84); }

.custom-side-bar div.number {
  font-size: 34px;
  color: rgba(0, 0, 0, 0.15) !important;
  line-height: 20px;
  margin-bottom: 13px;
  display: inline-block;
  float: left;
  width: 45px;
  height: 65px;
  margin-top: 4px; }
.custom-side-bar .content-box {
  display: inline-block;
  width: calc(100% - 50px);
  margin-bottom: 20px; }
  .custom-side-bar .content-box p {
    margin: 0; }
  .custom-side-bar .content-box a.title {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 600;
    font-size: 18px;
    line-height: 20px; }
  .custom-side-bar .content-box .other-info {
    margin-top: 6px; }

.footer_social {
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  padding: 25px 0 25px 44px;
  margin-top: 16px; }
  .footer_social .footer_fb {
    width: 28px;
    height: 29px;
    background-position: 0 0; }
    .footer_social .footer_fb:hover {
      background-position: 0 29px; }
  .footer_social .footer_social_img {
    display: inline-block;
    background: url(assets/images/footer_social.cf23dd50.png);
    margin-right: 10px; }
  .footer_social .footer_twitter {
    background: url(assets/images/footer_social.cf23dd50.png) -29px 0;
    width: 28px;
    height: 29px; }
    .footer_social .footer_twitter:hover {
      background-position: -29px 29px; }
  .footer_social .footer_linkdin {
    width: 28px;
    height: 29px;
    background-position: -57px 0; }
    .footer_social .footer_linkdin:hover {
      background-position: -57px -28px; }
  .footer_social .footer_rss {
    width: 28px;
    height: 29px;
    background-position: -85px 0; }
    .footer_social .footer_rss:hover {
      background-position: -85px -28px; }
  .footer_social .footer_youtube {
    width: 28px;
    height: 29px;
    background-position: -112px 0; }
    .footer_social .footer_youtube:hover {
      background-position: -112px -28px; }

#left_content {
  overflow-y: scroll;
  overflow-x: hidden; }
  #left_content::-webkit-scrollbar {
    width: 0; }
  #left_content::-webkit-scrollbar-button {
    background: #ccc; }
  #left_content::-webkit-scrollbar-track-piece {
    background: #888; }

.category-page #social-sidebar,
.single-page #social-sidebar {
  height: 600px; }
.category-page .entry-title,
.single-page .entry-title {
  font-family: elevate-display-font, medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  color: rgba(0, 0, 0, 0.84);
  line-height: 64px;
  letter-spacing: 0; }
.category-page .author,
.single-page .author {
  display: inline-block;
  width: 100%; }
  .category-page .author .avatar,
  .single-page .author .avatar {
    display: inline-block;
    float: left;
    width: 80px;
    height: 60px; }
    .category-page .author .avatar img,
    .single-page .author .avatar img {
      width: 60px;
      height: 60px;
      display: inline-block;
      vertical-align: middle;
      -webkit-border-radius: 100%;
      border-radius: 100%; }
  .category-page .author .info,
  .single-page .author .info {
    display: inline-block;
    float: left;
    width: calc(100% - 100px);
    height: 60px;
    margin-top: 10px; }
    .category-page .author .info .name,
    .single-page .author .info .name {
      color: rgba(0, 0, 0, 0.84);
      font-style: normal;
      letter-spacing: 0;
      font-size: 15px;
      line-height: 20px;
      font-weight: 400; }
    .category-page .author .info .publish-date,
    .single-page .author .info .publish-date {
      line-height: 1.4;
      font-weight: 400;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.54); }
.category-page .post-header-group,
.single-page .post-header-group {
  margin-bottom: 25px;
  display: inline-block;
  width: 100%; }
  .category-page .post-header-group .title-sec,
  .single-page .post-header-group .title-sec {
    width: 100%;
    display: inline-block; }
    .category-page .post-header-group .title-sec h1,
    .single-page .post-header-group .title-sec h1 {
      color: rgba(0, 0, 0, 0.84);
      margin-bottom: 20px;
      font-size: 46px;
      line-height: 55px;
      letter-spacing: 0; }
    .category-page .post-header-group .title-sec .cat-name,
    .single-page .post-header-group .title-sec .cat-name {
      font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ea2f65;
      text-decoration-color: #ea2f65;
      margin: 0;
      display: inline-block; }
      .category-page .post-header-group .title-sec .cat-name:hover,
      .single-page .post-header-group .title-sec .cat-name:hover {
        text-decoration: underline !important; }
  .category-page .post-header-group .post-thumbnail img,
  .single-page .post-header-group .post-thumbnail img {
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    border: 1px solid #f5f5f5; }
.category-page .post-content-group,
.single-page .post-content-group {
  display: inline-block;
  width: 100%; }
  .category-page .post-content-group #post-sharing,
  .single-page .post-content-group #post-sharing {
    margin-top: 56px; }
    .category-page .post-content-group #post-sharing a,
    .single-page .post-content-group #post-sharing a {
      display: block;
      color: rgba(0, 0, 0, 0.68);
      font-size: 28px;
      margin: 5px 0; }
  .category-page .post-content-group .entry-content ul,
  .single-page .post-content-group .entry-content ul {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em; }
  .category-page .post-content-group .entry-content p,
  .single-page .post-content-group .entry-content p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em; }
    .category-page .post-content-group .entry-content p:first-child::first-letter,
    .single-page .post-content-group .entry-content p:first-child::first-letter {
      font-size: 200%;
      font-weight: bold;
      margin-right: 10px; }
.category-page .pagination-links,
.single-page .pagination-links {
  display: inline-block;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 25px 0 25px 0; }
  .category-page .pagination-links .post_thumbnail,
  .single-page .pagination-links .post_thumbnail {
    max-width: 100%;
    border: 1px solid #f5f5f5; }
  .category-page .pagination-links .title,
  .single-page .pagination-links .title {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #03a87c;
    line-height: 20px;
    letter-spacing: .2em;
    text-transform: uppercase; }
  .category-page .pagination-links .post-title,
  .single-page .pagination-links .post-title {
    font-family: elevate-display-font, medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    color: rgba(0, 0, 0, 0.84);
    line-height: 49px;
    letter-spacing: 0;
    text-decoration: none !important;
    margin: 20px 0 20px 0;
    display: inline-block;
    width: 100%; }
  .category-page .pagination-links .post-author,
  .single-page .pagination-links .post-author {
    color: rgba(0, 0, 0, 0.84);
    font-style: normal;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px; }
  .category-page .pagination-links .post-content,
  .single-page .pagination-links .post-content {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 28px;
    -webkit-transform: translateY(0.12px);
    transform: translateY(0.12px);
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
    text-decoration: none !important; }
  .category-page .pagination-links .related-post,
  .single-page .pagination-links .related-post {
    margin-top: 21px; }
    .category-page .pagination-links .related-post .thumb,
    .single-page .pagination-links .related-post .thumb {
      width: 100%;
      height: 160px;
      background-origin: border-box;
      background-size: cover;
      background-position: 55% 57%;
      display: inline-block;
      border: 1px solid #f5f5f5; }
    .category-page .pagination-links .related-post .post-title,
    .single-page .pagination-links .related-post .post-title {
      font-weight: 500;
      font-size: 24px;
      margin: 10px 0 10px 0;
      line-height: 32px; }
    .category-page .pagination-links .related-post .post-content,
    .single-page .pagination-links .related-post .post-content {
      font-size: 19px;
      line-height: 24px; }
    .category-page .pagination-links .related-post .post-author,
    .single-page .pagination-links .related-post .post-author {
      margin-top: 15px; }

.category-page .title {
  color: rgba(0, 0, 0, 0.84);
  font-style: normal;
  font-size: 30px;
  font-weight: bold; }
.category-page p {
  color: rgba(0, 0, 0, 0.54); }
  .category-page p a {
    color: rgba(0, 0, 0, 0.54); }
.category-page .content {
  --x-height-multiplier: 0.342!important;
  --baseline-multiplier: 0.22!important;
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
  font-style: normal !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  -webkit-transform: translateY(1.52px);
  transform: translateY(1.52px);
  font-weight: 400 !important; }
.category-page ul li {
  margin-bottom: 10px;
  list-style-type: decimal-leading-zero; }
.category-page .widget_recent_entries span {
  display: block;
  font-size: 13px;
  color: #757575; }
.category-page .post-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 35px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px; }
  .category-page .post-group .post_thumbnail {
    width: 100%;
    height: 131px;
    margin-top: 0;
    display: inline-block;
    position: relative;
    background-position: 50% 50%;
    background-origin: border-box;
    background-size: cover;
    border: 1px solid #f5f5f5; }
  .category-page .post-group .content-box {
    width: calc(100% - 130px);
    display: inline-block;
    float: right; }
  .category-page .post-group .title {
    font-size: 16px; }
.category-page .thumb {
  width: 100%;
  min-height: 180px;
  max-height: 200px;
  background-origin: border-box;
  background-size: cover;
  background-position: 55% 57%;
  display: inline-block;
  border: 1px solid #f5f5f5; }
.category-page .pagination {
  width: 100%; }
  .category-page .pagination .page-numbers,
  .category-page .pagination a {
    border: 1px solid #ddd;
    padding: 3px 12px; }
    .category-page .pagination .page-numbers.current,
    .category-page .pagination a.current {
      border-color: #0075c1;
      background-color: #0075c1;
      color: #ffffff; }

#site-footer {
  background: rgba(0, 0, 0, 0.88);
  line-height: 20px;
  font-size: 16px;
  color: #fff;
  padding: 50px 0;
  border-top: 1px solid #ebedf0; }
  #site-footer .footer_social {
    padding: 0;
    margin-top: 0;
    float: right; }

@media (max-width: 768px) {
  .header-manage {
    display: none; }

  #left_content {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    height: auto !important; }

  .entry-title {
    font-size: 24px !important;
    line-height: 30px !important; }

  .single-page .post-header-group .title-sec .author {
    display: none; }

  .single-page .post-content-group .entry-content p {
    font-size: 17px;
    line-height: 1.45; }

  .single-page .pagination-links .post-title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0;
    margin: 15px 0 10px 0; } }
.alignleft {
  display: inline;
  float: left; }

.alignright {
  display: inline;
  float: right; }

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

#single_post_content .entry-content h2 {
  font-size: 35px; }
#single_post_content .entry-content p {
  margin: 0 0 15px; }
#single_post_content .entry-content ul, #single_post_content .entry-content ol {
  padding: 0; }
  #single_post_content .entry-content ul li, #single_post_content .entry-content ol li {
    list-style-position: inside;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em; }

#the_contact .banner-image {
  display: inline-block;
  width: 100%;
  margin-bottom: 35px; }
#the_contact .contact-form h1 {
  color: rgba(0, 0, 0, 0.84);
  margin-bottom: 20px;
  font-size: 46px;
  line-height: 55px;
  letter-spacing: 0; }
#the_contact .contact-form .btn-primary {
  background-color: #0000ff;
  border-color: #0000ff;
  font-size: 16px;
  padding: 9px 25px;
  border-radius: 4px;
  margin-top: 11px; }
#the_contact .contact-form .form-control {
  height: 45px;
  padding: 10px 12px;
  border-radius: 4px; }
#the_contact .contact-form textarea.form-control {
  height: auto !important; }

#secondary li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 10px; }
  #secondary li a {
    color: #262626; }

.category-page a:hover {
  color: #262626; }

#categories-2 {
  margin: 40px 0 0 0; }

.search .progress-container {
  display: none; }

#cookies-blk .setcookie {
  border-radius: 4px;
  border: solid 1px #16161c;
  padding: 14px 48px;
  display: inline-block; }
#cookies-blk p {
  padding: 20px 0;
  font-size: 14px;
  line-height: 23px;
  color: #121212; }
#cookies-blk #close-btn {
  float: right;
  cursor: pointer; }

.cookie-bar p {
  font-size: 14px;
  line-height: 23px;
  color: #121212; }
.cookie-bar #close-btn {
  float: right;
  cursor: pointer; }

.cookie-content {
  color: #262626;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 14px 74px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 90% !important;
  text-align: center;
  padding: 8px 15px !important;
  top: auto;
  bottom: 20px;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  max-width: 100%;
  line-height: 33px;
  margin: 0 auto;
  border-radius: 24px; }

.cookie-hide {
  border-radius: 4px;
  border: solid 1px #16161c;
  padding: 10px 48px;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  margin: 15px 0 0 0;
  transition: 0.4s all ease-in-out; }
  .cookie-hide:hover {
    background: #16161c;
    color: #ffffff; }

.custom-nav .nav-link {
  margin-right: 20px !important; }

body.modal-open {
  overflow: inherit;
  padding-right: 0 !important; }

@media only screen and (max-width: 991px) {
  .mob-menu.visible-small.dropdown-toggle:after {
    display: none; }

  .dropdown-menu {
    margin: 10px 0 0 0; }

  .home-page {
    display: none; } }
@media only screen and (max-width: 991px) {
  .cookie-bar {
    top: auto;
    bottom: 0;
    width: 100%;
    padding: 10px; }

  .cookie-content {
    text-align: center; }

  .cookies {
    display: none; }

  .cookie-hide {
    padding: 7px 30px;
    display: block;
    margin: 10px auto; } }
@media (min-width: 992px) {
  .cookie-content {
    width: 880px !important;
    text-align: center;
    padding: 8px 15px !important;
    top: auto;
    bottom: 20px;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    max-width: 100%;
    line-height: 33px;
    margin: 0 auto;
    border-radius: 24px;
    display: inline-block;
    vertical-align: middle; }
    .cookie-content p {
      display: inline-block;
      vertical-align: middle;
      padding: 0; }

  .cookies {
    max-width: 35px;
    line-height: normal;
    display: inline-block;
    margin-right: 15px; }

  input.cookie-hide {
    margin: 0;
    margin-left: 15px; } }
@media (max-width: 991px) {
  .cookie-bar p {
    padding: 15px 0 5px; } }

/*# sourceMappingURL=style.css.map */
