@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Bold.woff2') format('woff2'),
  url('../fonts/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato-Bold.ttf') format('truetype'),
  url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'fira-sans-medium';
  src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
  url('../fonts/FiraSans-Medium.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
  url('../fonts/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

.blog-page{
  hr{
      border-top: 1px solid #ebedf0;
    margin: 46px 0 0;
  }
  .main-blk{
    display: flex;
    justify-content: space-between;
    .left-blk{
      width: 19%;
      padding-right: 30px;
      h3{
        font-size: 18px;
        line-height: 24px;
        padding: 0 0 10px;
      }
      form{
        position: relative;
        #mc_embed_signup_scroll {
          display: flex;
        }
        &:after{
          content: "";
          position: absolute;
          top: 28px;
          right: 19px;
          background: url(../images/blog/link-arrow-black-small.svg) no-repeat right !important;
          width: 14px;
          height: 14px;
        }
      }
      input.email{
        height: 50px !important;
        border-radius: 4px !important;
        border: solid 1px #dedede !important;
        border-right: solid 1px #ffffff  !important;
        background-color: #ffffff !important;
        padding: 10px 10px !important;
        font-size: 14px  !important;
        width: 85% !important;
        font-family: 'Fira Sans', sans-serif !important;
        margin: 0px -4px 0 0px !important;
        outline: none !important;
      }
      ::placeholder{
        color: #001033 !important;
        opacity: 0.5 !important;
        font-family: 'Fira Sans', sans-serif !important;
      }
      .clear {
        width: 25%;
        position: absolute;
        right: 0;
        z-index: 9;
      }

      #mc_embed_signup .button {
        width: 45px !important;
        padding: 0 !important;
        border: solid 1px #dedede !important;
        border-left:  solid 1px #ffffff   !important;
        border-radius: 4px !important;
        font-size: 14px  !important;
        background: none;
        height: 50px;
        position: relative;
        outline: none !important;
        color: transparent !important;
      }
      h4{
        font-size: 14px;
        color: #262626;
        padding: 60px 0 10px;
      }
      p{
        //font-size: 10px;
        color: #262626;
        opacity: 0.5;
        padding: 10px 0 0 0;
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          a{
            font-size: 14px;
            color: #262626;
            margin: 0 0 15px;
            display: inline-block;
            font-weight: 500;
          }
          .active{
            position: relative;
            color: #0000ff;
            &:after{
              content: "";
              position: absolute;
              right: -58px;
              top: 0;
              background: url("../images/blog/link-arrow.svg") no-repeat center right;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .right-blk{
      width: 100%;
      .inn-blk{
        display: flex;
        .left-inn{
          width: 100%;
          .top-part{
            img{
              padding: 10px;
              border: 1px solid #ccc;
            }
          }
        }
        .right-inn{
          width: 50%;
          padding-left: 45px;
        }
      }
      ul{
        list-style: none;
        padding: 0;
        display: flex;
        margin: 30px 0 0 0;
        li{
          //display: inline-block;
          width: 100%;
          margin-right: 45px;
          border-bottom: 1px solid #e8eaed;
          padding: 0 0 15px;
          &:last-child{
            margin: 0;
          }
          .small-title{
            padding: 16px 0;
          }
          h2{
            font-size: 26px;
            line-height: 32px;
            color: #262626;
            font-family: 'PT Serif', serif;
          }
          p{
            font-size: 16px;
            line-height: 26px;
            color: #262626;
            padding: 0 0 30px;
          }
        }
      }
      .newsletter-blk{
        display: flex;
        align-items: center;
        padding: 46px 0 46px;
        text-align: center;
        .left-blk{
          width: 100%;
          padding: 0;
          p{
            padding: 0 0 20px;
          }
          h2 {
            font-size: 30px !important;
            font-family: 'PT Serif', serif !important;
            font-weight: bold !important;
            padding: 0 0 15px !important;
          }
        }
        .right-blk{
          width: 43%;
          //text-align: right;
          position: relative;
          &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 27px;
            background: url(../images/blog/link-arrow-black.svg) no-repeat right #fff;
            width: 27px;
            height: 100%;
          }
          input{
            height: 50px;
            border-radius: 4px;
            border: solid 1px #dedede;
            background-color: #ffffff;
            padding: 10px 15px;
            font-size: 14px;
            width: 100%;
            &:focus{
              outline: none;
            }
          }
          ::placeholder{
            color: #001033;
            opacity: 0.5;
          }
        }
      }
      .newsletter-blk.middle{
        padding-bottom: 0;
        .left-blk{
          h4{
            padding: 0 0 10px;
          }
        }
        .right-blk{
          text-align: left;
          padding: 0 0 0 45px;
          &:after{
            display: none;
          }
          p{
            padding: 0 0 16px;
          }
        }
      }
    }
  }
  .small-title{
    font-size: 12px;
    color: #262626;
    padding: 0 0 15px;
    opacity: 0.5;
  }
  .main-title{
    font-size: 30px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    padding: 0 0 15px;
  }
  .main-title.new-title{
    font-size: 30px;
    padding: 45px 0 0;
  }
  .main-title.tools{
    padding: 40px 0 0;
  }
  p{
    font-size: 17px;
    line-height: 28px;
    color: #262626;
    padding: 0 0 25px;
  }
  .author-name{
    font-size: 12px;
    color: #0000ff;
    padding: 0 20px 0 0;
    float: left;
  }
  .date{
    font-size: 12px;
    color: #898989;
    width: auto;
    float: left;
    padding: 0 0 25px;
  }





  .post-categories li:first-child{
    display: inline-block;
    margin: 0 !important;
    border-bottom: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .post-categories{
    margin: 0 !important;
  }
  .post-categories li a{
    color: #8b8b8b;
    text-transform: uppercase;
  }
  .post-categories li{
    display: none;
  }
  .second-row li img{
    width: 100%;
    object-fit: cover;
    height: 157px;
    object-position: center;
  }
  .second-row li{
    position: relative;
    width: 30.7% !important;
  }
  .second-row li .author-data{
    position: absolute;
    bottom: 15px;
  }
  .second-row li:nth-child(3n){
    margin-right: 0 !important;
  }
  .second-row{
    flex-wrap: wrap;
  }
  .author-data .date{
    padding: 0 !important;
  }
  .main-blk .right-blk ul li{
    position: relative;
  }
  .main-blk .right-blk ul li .author-data{
    position: absolute;
    bottom: 15px;
  }
  .main-blk .right-blk ul li p{
    margin-bottom: 10px;
  }
  .main-blk .right-blk .newsletter-blk.middle{
    border-bottom: 1px solid #e8eaed;
    padding-bottom: 46px !important;
  }
  .main-blk .right-blk .inn-blk .right-inn{
    position: relative;
  }
  .main-blk .right-blk .inn-blk .right-inn .author-data{
    position: absolute;
    bottom: 0;
  }
  .main-blk .right-blk .inn-blk .left-inn img{
    object-fit: cover;
    object-position: center;
    height: 336px;
    width: 100%;
  }
  .main-blk .right-blk .inn-blk .left-inn .img-wrap{
    overflow: hidden;
    height: 336px !important;
  }
  .main-blk .right-blk .inn-blk:hover img{
    transform: scale(1.05) !important;
    -webkit-transform: scale(1.05) !important;
    -o-transform: scale(1.05) !important;
  }
  .main-blk .right-blk .inn-blk .left-inn img{
    transform: scale(1);
    -webkit-transition: -webkit-transform .4s ease-out 0s;
    transition: -webkit-transform .4s ease-out 0s;
    -o-transition: -o-transform .4s ease-out 0s;
    transition: transform .4s ease-out 0s;
    transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
    max-width: 100%;
    display: block;
    width: 100%;
  }


  .sec-list li img{
    object-fit: cover;
    object-position: center;
    height: 246px;
    width: 100%;
  }
  .sec-list li .img-wrap{
    overflow: hidden;
    height: 246px !important;
  }
  .hidden-blk{
    display: none;
  }
  .pagination{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 32%;
  }
  .pagination h2{
    display: none;
  }
  .pagination .page-numbers{
    margin: 0 10px 0 0;
  }
  .pagination .page-numbers {
    color: #898989;
  }
  .pagination .current {
    color: #262626;
  }
  .view-all-posts li{
    margin-bottom: 45px !important;
  }
}

.blog-details-page{
  .change{
    position: fixed;
    top: 50%;
    right: 0;
    padding: 30px;
    box-shadow: 0 14px 74px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transform: translateY(-50%);
    max-width: 300px;
    z-index: 9999;
    .long-subscribe-btn {
      #mc_embed_signup {
        .button{
          width: 70px !important;
        }
      }
    }
    h5{
      padding: 15px 0 0 0;
    }
  }
  #close{
    float: right;
    cursor: pointer;
    position: relative;
    top: -10px;
  }
  //.subscribe-blk{
  //  display: none;
  //}
  .follow{
    display: none;
  }
  .main-blk{
    .left-blk{
      padding: 370px 0 0 0;
    }
    .right-blk{
      .post-categories{
        padding: 0;
        li{
          list-style: none;
          width: auto !important;
          border-right: 1px solid #8b8b8b;
          margin-right: 15px !important;
          padding-right: 15px !important;
          display: inline-block;
          &:last-child {
            padding: 0;
            border-right: none;
          }
        }
      }
      ul{
        display: block;
        list-style: circle;
        padding-left: 15px;
        li{
         //display: block;
          border-bottom: 0;
          //list-style: circle;
          display: list-item;
          list-style: disc;
          span.hover-line {
            width: calc(100%);
            background-image: linear-gradient(transparent calc(100% - 2px), #001033 2px) !important;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size 0.2s;
          }
          &:hover{
            span.hover-line {
              background-size: 100% 100%;
            }
          }
        }
      }
      .back-btn{
        font-size: 14px;
        color: #262626;
        margin: 0 0 34px;
        display: inline-block;
        img{
          margin: 0 10px 2px 0;
          height: auto !important;
          width: auto !important;
        }
      }
      h4{
        font-size: 12px;
        color: #262626;
        padding: 0 0 15px;
        opacity: 0.5;
        text-transform: uppercase;
      }
      h1{
        font-size: 40px;
        font-family: 'PT Serif', serif;
        font-weight: bold;
        padding: 0 0 25px;
        color: #262626;
      }
      h2 {
        font-size: 20px;
        font-family: 'Fira Sans', sans-serif;
        padding: 0 0 15px;
        color: #121212;
      }
      h3{
        font-size: 26px;
        color: #262626;
        font-family: 'PT Serif', serif;
        font-weight: bold;
        padding: 0 0 15px;
      }
      .blog-details-img{
        margin: 0 0 30px;
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      .related-post{
        border-top: 1px solid #eff1f3;
        padding: 46px 0 0 0;
        h3{
          padding: 0;
          font-family: 'PT Serif', serif;
          font-weight: bold;
        }
        ul{
          margin: 24px 0 0;
          display: flex;
          padding: 0;
          li{
            display: inline-block;
            width: 50%;
            h2 {
              font-size: 22px;
            }
          }
          img{
            margin: 0;
            height: auto;
          }
        }
      }
      .inn-blk {
        .right-inn{
          padding: 430px 0 0 45px;
          width: 20%;
          img{
            width: 45px;
            height: 45px;
            border-radius: 45px;
            margin: 0 15px 15px 0;
            float: left;
          }
          span{
            font-size: 12px;
            color: #0000ff;
            padding: 15px 0 0 0;
            display: inline-block;
            float: none;
          }
          .date{
            float: left;
            width: 100%;
            padding: 0;
          }
          .hash-links{
            float: left;
            border-bottom: solid 1px #dedede;
            width: 100%;
            padding: 0 0 24px;
            a{
              display: block;
              width: auto;
              font-size: 14px;
              color: #a1a6b3;
              padding: 8px 17px;
              border-radius: 4px;
              border: solid 1px #dedede;
              background-color: #ffffff;
              width: auto;
              float: left;
              margin: 0 10px 10px 0;
            }
          }
          h5{
            font-size: 18px;
            color: #262626;
            padding: 30px 0 25px;
            float: left;
          }

        }
        .left-inn{
          .jtt-post-content{
            img{
              width: auto;
              height: auto;
              max-width: 100%;
            }
            iframe{
              max-width: 100%;
            }
          }
        }
      }
      .subscribe-blk{
        form{
          position: relative;
          float: left;
          width: 100%;
          &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 19px;
            background: url(../images/blog/link-arrow-black-small.svg) no-repeat right;
            width: 27px;
            height: 100%;
          }
          input{
            height: 50px;
            border-radius: 4px;
            border: solid 1px #dedede;
            background-color: #ffffff;
            padding: 10px 15px;
            font-size: 14px;
            width: 100%;
          }
        }
      }

      .wp-block-gallery{
        padding: 0;
        li{
          list-style: none;
        }
      }
    }
  }


  .post-categories li:first-child{
    display: inline-block;
    margin: 0 !important;
    border-bottom: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .post-categories{
    margin: 0 !important;
  }
  .post-categories li{
    display: none;
  }
  p:empty{
    display: none;
  }
  br{
    display: none;
  }
  .date{

  }
  .date span{
    padding: 0 !important;
    color: #898989 !important;
  }
  .sec-list li{
    position: relative;
  }
  .sec-list li p{
    margin-bottom: 15px;
    padding-top: 15px !important;
  }
  .sec-list .author-data{
    position: absolute;
    bottom: 15px;
  }
  .sec-list li img{
    object-fit: cover;
    object-position: center;
    height: 157px !important;
    width: 100%;
  }

  .author-data .date{
    padding: 0 !important;
  }

  .newsletter-blk{
    .right-blk{
      padding-right: 0 !important;
    }
  }

  .main-blk {
    .right-blk {
      .inn-blk {
        .left-inn {
          .related-post{
            &:hover{
              img{
                  transform: unset !important;
              }
            }
            ul{
              li{
                &:hover{
                  img{
                    transform: scale(1.05) !important;
                    -webkit-transform: scale(1.05) !important;
                    -o-transform: scale(1.05) !important;
                  }
                }
                img{
                  transform: scale(1);
                  -webkit-transition: -webkit-transform .4s ease-out 0s;
                  transition: -webkit-transform .4s ease-out 0s;
                  -o-transition: -o-transform .4s ease-out 0s;
                  transition: transform .4s ease-out 0s;
                  transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
                  max-width: 100%;
                  display: block;
                  width: 100%;
                }
                .img-wrap{
                  height: 130px !important;
                }
              }
            }
          }
        }
      }
    }
  }

}

.sidebar{
  position: sticky;
  top: 120px;
}

.back-btn{
  float: left;
  font-size: 14px;
  color: #262626;
  margin: 20px 20px 34px 20px !important;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  &:after{
    content: "";
    position: absolute;
    background: url("../images/blog/back-btn.svg")no-repeat;
    left: -12px;
    top: 6px;
    padding-left: 20px;
    //z-index: 9999;
    width: 13px;
    height: 11px;
  }
  &:focus{
    outline: none;
  }
  //display: inline-block;
}


.inn-author{
  float: left;
  width: 100%;
  .logo-author{
    height: 45px !important;
    width: 45px !important;
    border: none !important;
    padding: 0 !important;
    border-radius: 45px;
    margin: 0 15px 15px 0;
    float: left;
  }
  .date{
    padding: 0;
    float: none;
    span{
      padding: 0;
      float: none;
      //display: block;
    }
  }
  span{
    padding: 0;
    float: none;
  }
}


.blog-details-page {
  .main-blk {
    .right-blk {
      .newsletter-blk {
        .right-blk{
          &:after{
            right: 36px;
          }
        }
      }
    }
  }
}


.blog-page {
  .main-blk {
    .right-blk {
      .newsletter-blk {
        .right-blk{
          &:after{
            display: none;
          }
        }
      }
    }
  }
}

.subscribe-btn{
  font-size: 17px;
  color: #ffffff;
  padding: 14px 34px;
  border-radius: 4px;
  background-color: #0000ff;
  border-color: #0000ff;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  &:focus{
    box-shadow: none !important;
  }
  &:hover{
    background: #0000CD;
  }
}

.subscribe-btn.white{
  border-radius: 4px;
  border: solid 1px #16161c;
  padding: 9px 15px;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  margin: 15px 0 0 0;
  color: #16161c;
  transition: 0.4s all ease-in-out;
  &:hover{
    background: #16161c;
    color: #ffffff;
  }
  //&:focus{
  //  background: #16161c;
  //  color: #ffffff;
  //}
  &:active{
    background: #16161c !important;
    color: #ffffff !important;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background: #16161c !important;
    color: #ffffff;
  }
}

.custom-popup{
  ::placeholder{
    opacity: 0.2 !important;
    color: #2c2929 !important;
  }
  .modal-dialog {
    position: relative;
    top: 50%;
    transform: translateY(-50%) !important;
    margin: 0 auto;
  }

  .modal-content {
    //height: 100% !important;
    overflow:visible;
    background-color: transparent;
    border: none;
  }

  .modal-body{
    display: flex;
    padding: 0;
    align-items: stretch;
    img{
      float: left;
      width: 45%;
      position: relative;
      left: -5.5px;
      bottom: 0px;
      border-radius: 10px;
    }
    @media (max-width: 991px) {
      padding: 0 15px;
    }
  }
  .close{
    position: absolute;
    right: 15px;
    z-index: 9;
    top: 9px;
    &:focus{
      outline: none;
    }
  }
  #mc_embed_signup{
    width: 100%;
  }
  .modal-dialog{
    width: 100%;
    max-width: 916px;
  }
  div.mce_inline_error{
    display: none !important;
  }
  input{
    padding: 13px 30px 13px 15px !important;
    color: #000 !important;
    font-size: 20px !important;
    background: #ffffff !important;
    border-radius: 13px !important;
    border: solid 1.5px #d0d7eb;
    margin: 0 0 0 0 !important;
    font-family: Lato !important;
    font-weight: 500 !important;
    &:focus{
      outline: none;
    }
  }
  #mc_embed_signup input{
    border: solid 1px #d0d7eb;
  }
  .mc-field-group{
    padding: 0 0 30px 0!important;
  }
  label{
    font-family: 'Fira Sans', sans-serif !important;
    font-size: 16px;
  }
  .submit{
    background: #febd65 !important;
    height: auto !important;
    padding: 13px 46px 13px 45px !important;
    border-radius: 4px !important;
    color: #ffffff !important;
    border: none !important;
    font-family: Lato !important;
    font-weight: 500 !important;
  }

  #mc_embed_signup{
    padding: 5.5% 5% 5% 5% !important;
    form{
      padding: 0 !important;
    }
  }
  h2{
    font-size: 30px !important;
    margin: 0 0 30px 0!important;
    font-family: Lato !important;
    font-weight: bold !important;
  }
  #subscribe-result{
    color: green !important;
    padding: 15px 0 0 0;
  }
  @media (min-width: 992px) {
    #mc_embed_signup{
      margin-left: -3%;
    }
  }
}


.not-found{
  padding: 50px 0 100px;
  .main-blk{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-blk{
      width: 37%;
      h2{
        font-size: 42px;
        padding: 0 0 15px;
        font-family: 'PT Serif', serif;
        font-weight: 700;
      }
      p{
        font-size: 17px;
        line-height: 28px;
        padding: 0 0 20px;
        color: #121212;
      }
      a{
        font-size: 17px;
        border-radius: 4px;
        background-color: #0000ff;
        padding: 15px 34px;
        color: #ffffff;
        display: inline-block;
        transition: 0.4s all ease-in-out;
        font-family: 'Libre Franklin';
        &:hover{
          background: #0000CD;
        }
      }
    }
    .right-blk{
      width: 37%;
    }
  }
}


@media only screen and (max-width: 991px) {
  .blog-page {
    img{
      height: auto !important;
    }
    .main-blk {
      display: block;
      img{
        width: 100%;
      }
      .left-blk {
        width: 100%;
        img{
          width: auto;
        }
      }
      .right-blk {
        width: 100%;
        ul{
          display: block !important;
          li{
            width: 100% !important;
            margin: 0 0 30px;
          }
        }
        .newsletter-blk{
          display: block;
          .left-blk{
            width: 100%;
          }
          .right-blk{
            width: 100%;
            padding: 20px 0 0 0 !important;
            text-align: left;
            margin: 0 0 0 0;
            &:after{
              top: 10px;
            }
            input{
              width: 100%;
              margin: 20px 0 0 0;
            }
          }
        }
        .inn-blk{
          display: block;
          .left-blk{
            width: 100%;
          }
          .right-inn{
            width: 100%;
            padding: 30px 0 0;
          }
        }
      }
    }
    .social-icons a{
      display: inline-block;
      margin: 0 10px 0 0;
    }
  }
  .blog-details-page {
    img{
      height: auto !important;
    }
    .main-title{
      font-size: 30px !important;
    }
    .main-blk {
      .right-blk {
        ul{
          li{
            margin: 0 0 10px;
          }
        }
        h2{
          font-size: 30px;
        }
        .back-btn {
          img{
            width: auto;
          }
        }
        .newsletter-blk{
          float: left;
          width: 100%;
          padding: 20px 0 50px;
        }
        .related-post {
          ul {
            padding: 0;
            li{
              margin: 0 0 30px;
            }
          }
        }
         .post-categories {
           li{
             margin-right: 20px !important;
             padding-right: 20px !important;
           }
         }
      }
      .left-blk{
        padding: 0;
      }

    }
  }
  .blog-details-page {
    .change{
      display: none;
    }
  }

  .not-found {
    .main-blk {
      display: block;
      .left-blk{
        width: 100%;
        padding: 0 0 40px;
      }
      .right-blk{
        width: 100%;
      }
    }
  }
}

.social-icons {
  a {
    display: table;
    position: relative;
    margin-bottom: 10px;
    img {
      max-width: 35px;
      &.hide-logo {
        display: none;
      }
    }

    &:hover {
      img.hide-logo {
        display: block;
        position: absolute;
        top: 0;
      }
    }
  }
  //a + a {
  //  margin-left: 10px;
  //}
  //@media (min-width: 1280px) {
  //  a + a {
  //    margin-left: 15px;
  //  }
  //}
}
.inn-blk {
  span.hover-line {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), #001033 2px) !important;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.2s;
  }
  &:hover {
    span.hover-line {
      background-size: 100% 100%;
    }
  }
}
.blog-page {
  &.blog-details-page {
    .back-btn {
      font-size: 14px;
      color: #262626;
      margin: 0 0 34px;
      display: inline-block;
      img {
        object-fit: cover;
        object-position: center;
        margin: 0 10px 2px 0;
        height: auto !important;
        width: auto !important;
      }
    }
    .main-blk {
      .left-blk {
        //padding: 0;
        //width: 13%;
        padding: 0;
        width: 22%;
      }
      .right-blk{
        //padding-right: 11%;
        //width: 87%;
        //padding-right: 22%;
        //width: 84%;
        max-width: 680px;
      }
      .side-blk {
        width: 13%;
        .sidebar {
          h4 {
            font-size: 14px;
            color: #262626;
            padding: 15px 0 10px;
          }
        }
      }
    }
    @media (min-width: 992px) {
      .side-blk {
        .sidebar {
          margin: 0px 0 30px 10px;
          text-align: center;
          .social-icons {
            a {
              margin: 0 auto 10px;
            }
          }
        }
      }
    }
  }
  .main-blk {
    .right-blk {
      ul {
        li{
          span.hover-line {
            width: calc(100%);
            background-image: linear-gradient(transparent calc(100% - 2px), #001033 2px) !important;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size 0.2s;
          }
          &:hover{
            span.hover-line {
              background-size: 100% 100%;
            }
          }
          .img-wrap{
            overflow: hidden;
            height: 157px;
          }
          img{
            transform: scale(1);
            -webkit-transition: -webkit-transform .4s ease-out 0s;
            transition: -webkit-transform .4s ease-out 0s;
            -o-transition: -o-transform .4s ease-out 0s;
            transition: transform .4s ease-out 0s;
            transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
            max-width: 100%;
            display: block;
            width: 100%;
          }
          &:hover{
            img{
              transform: scale(1.05) !important;
              -webkit-transform: scale(1.05) !important;
              -o-transform: scale(1.05) !important;
            }
          }
        }
      }
    }
  }
}

.blog-page .main-blk .right-blk .newsletter-blk .long-subscribe-btn .right-blk {
  width: 100%;
}

.blog-page .main-blk .right-blk .newsletter-blk .right-blk:after{
  width: 27px;
  height: 27px;
  top: 22px;
  z-index: 0;
}


.long-subscribe-btn {
  width: 44.5%;

  form{
    position: relative;
    #mc_embed_signup_scroll {
      display: flex;
    }
  }
  input.email{
    height: 50px !important;
    border-radius: 4px !important;
    border: solid 1px #dedede !important;
    border-right: solid 1px #ffffff  !important;
    background-color: #ffffff !important;
    padding: 10px 10px !important;
    font-size: 14px  !important;
    width: 75% !important;
    font-family: 'Fira Sans', sans-serif !important;
    margin: 0px -4px 0 0px !important;
    outline: none !important;
  }
  ::placeholder{
    color: #001033 !important;
    opacity: 0.5 !important;
    font-family: 'Fira Sans', sans-serif !important;
  }
  .clear {
    width: 26% !important;
    position: absolute;
    right: 0;
    z-index: 9;
  }

  #mc_embed_signup .button {
    width: 80px !important;
    padding: 0 !important;
    border: solid 1px #dedede !important;
    border-left:  solid 1px #ffffff   !important;
    border-radius: 4px !important;
    font-size: 14px  !important;
    background: none;
    height: 50px;
    position: relative;
    outline: none !important;
    color: transparent !important;
    left: -9px;
  }
  #mc_embed_signup .button:hover {
    background-color: transparent !important;
  }
}

.email-blk {
  .long-subscribe-btn {
    width: 100%;
    padding: 10px 0 10px 0;
    #mc_embed_signup_scroll {
      display: flex;
    }
  }
}



.blog-details-page {
  .main-blk {
    .right-blk {
      .inn-blk {
        &:hover{
          img{
            transform: unset !important;
          }
        }
      }
    }
  }
}


@media (max-width: 991px) {
  .blog-page .main-blk .left-blk  {
    h4 {
      padding: 30px 0 10px;
    }
    .clear {
      width: 7% !important;
    }
    input.email {
      width: 100% !important;
    }
  }
  .long-subscribe-btn {
    width: 100%;
  }
  .long-subscribe-btn #mc_embed_signup .button {
    width: 100% !important;
    left: 0;
  }
  .blog-page .main-blk .right-blk {
    margin-top: 50px;
  }
  .blog-page {
    .main-blk{
      .right-blk {
        .newsletter-blk {
          .right-blk{
            &:after{
              right: 12px;
            }
          }
        }
      }
    }
  }
  .blog-details-page {
    .main-blk  {
      .right-blk{
        .inn-blk {
          .left-inn {
            .top-part{
              padding: 0 !important;
            }
          }
        }
      }
    }
  }
  .custom-popup {
    .modal-body {
      img{
        display: none;
      }
    }
  }
  .custom-popup {
    h2{
      font-size: 24px !important;
    }
  }
}

@media (max-width: 767px) {
  .blog-page .main-blk .left-blk form:after {
    right: 0;
  }
  .long-subscribe-btn input.email {
    width: 100% !important;
  }
  .sidebar #mc_embed_signup input.email {
    width: 65% !important;
  }
  .blog-page .main-blk .left-blk .clear {
    right: 30%;
  }
  .blog-page .main-blk .left-blk form:after {
    right: 30%;
  }
  .blog-page.blog-details-page .main-blk .left-blk{
    width: auto;
  }
}

.blog-page {
  .jtt-post-content {
    .content-box {
      hr {
        margin: 0 ;
      }
    }
  }
}

.blog-details-page .main-blk .right-blk {
  .jtt-post-content {
    ul, ol {
      margin: 0 0 45px;


      li {
        padding: 0 0 15px;

        &:last-child {
          margin: 0;
          padding: 0;
        }
        a {
          display: inline-block;
        }
      }
    }
    ul,ol {
      padding-left: 20px;
      li {
        font-size: 17px;
        padding-left: 0;
      }
    }
    h1,h2,h3 {
      padding: 0 0 25px;
    }
    h2 {
      font-size: 30px;
    }
    .content-box {
       margin-bottom:40px ;
       border-radius: 4px;
       background-color: #f8f8f8;
       //padding: 36px 24px;
       h1 {
         font-size: 26px;
         font-weight: bold;
         text-align: left;
         font-family: 'PT Serif', serif;
         position: relative;
         cursor: pointer;
         padding: 25px;
         &:before {
           content: '';
           background: url(../images/blog/up.svg) no-repeat;
           position: absolute;
           top: 35px;
           right: 30px;
           width: 15px;
           height: 15px;
           display: block;
         }
         span {
           font-size: 26px;
           font-weight: bold;
           text-align: left;
           font-family: 'PT Serif', serif;
         }
       }
      ul,ol {
        margin: 0;
        padding: 25px 25px 50px 50px;
        li {
          a {
            font-size: 17px;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 500;
            color: #121212;
            margin-left: 16px;
            display: block;
          }
        }
      }
     }
    @media (max-width: 991px) {
      ol {
        li {
          font-size: 19px;
        }
      }
    }
    @media (min-width: 992px) {
      ul {
        li {
          font-size: 17px;
        }
      }
    }
  }
}

.blog-details-page{
  .main-blk {
    .right-blk {
      .inn-blk {
        .left-inn{
          .top-part{
            padding: 0;
            //padding: 0 50px;
          }
        }
        .right-inn{
          display: none;
        }
      }
    }
  }
}

@media (max-width: 991px) {

  .blog-page {
    .blog-sec.custom-blog {
      .main-blk {
        .left-blk {
          padding-right: 0;
          .sidebar {
            z-index: 999;
            ul  {
              display: flex;
              flex-wrap: nowrap;
              overflow: auto;
              margin: 0;
              li {
                flex: 0 0 38%;
                margin-right: 15px;
                a {
                  &.active:after {
                    width: 24px;
                    right: -36px;
                  }
                }
              }
            }
            .subscribe-bar {
              display: none;
              position: fixed;
              transform: translateY(130px);
              width: 100%;
              bottom: 0;
              height: 130px;
              z-index: 999;
              background: #fff;
              padding: 15px 0;
              text-align: center;
              left: 0;
              transition: 0.5s ease all;
              &.stick {
                display: block;
                transform: translateY(0px);
                transition: 0.5s ease all;
                //box-shadow: 14px 0px -6px -12px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              }
            }
            form {
              #mc_embed_signup_scroll {
                display: inline-block;
                input.email {
                  width: 100% !important;
                  display: inline-block;
                }
                .clear {
                  display: inline-block;
                }
              }
            }
          }
        }
        .right-order-blk {
          order: 1;
          margin-bottom: 50px;
          margin-top: 0;
        }
      }
    }
    &.blog-details-page {
      .main-blk {
        .right-blk {
          margin-top: 0;
          padding-right: 0;
          width: 100%;
        }
      }
    }
    .sidebar {
      margin-bottom: 30px;
    }
  }
  .blog-page {
    .main-blk {
      .right-blk {
        ul{
          li{
            .img-wrap{
              height: auto !important;
            }
          }
        }
        .inn-blk {
          .left-inn {
             .img-wrap{
               height: auto !important;
             }
          }
        }
      }
    }
    .img-wrap{
      height: auto !important;
    }
  }
}

@media (max-width: 991px) {
  .blog-details-page {
    .sidebar {
      display: none;
    }
    .follow {
      position: fixed;
      top: auto;
      bottom: 80px;
      right: 20px;
      z-index: 9999;
      background: #00f;
      height: 45px;
      width: 45px;
      padding: 0 10px 4px 14px;
      display: block;
      .follow-icon {
        display: none;
        transition: all 0.2s;
      }
      &.collapsed{
        padding: 10px;
        .follow-icon {
          display: block;
        }
      }

      &.navbar-toggler {
        .icon-bar {
          background-color: #ffffff;
        }
        &.collapsed {
          .follow-icon {
            img {
              width: 30px;
            }
          }
          .icon-bar {
            opacity: 0;
          }
        }
      }
    }

    .navbar-collapse {
      &.social-icons {
        position: fixed;
        top: auto;
        bottom: 0px;
        right: 0px;
        left: 0;
        z-index: 999;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        a{
          display: inline-block;
        }
      }

      h4 {
        padding: 8px 0;
        font-size: 18px;
      }

      ul {
        padding-bottom: 8px;
        display: inline-block;
        width: 100%;
        text-align: center;

        li {
          display: inline-block;
          margin-right: 10px;
          text-align: center;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
     .main-blk {
       .right-blk {
         .jtt-post-content{
           ul {
             li{
               font-size: 19px !important;
               line-height: 30px !important;
               margin: 0;
             }
           }
         }
       }
     }


  }
  .blog-page {
    p{
      font-size: 19px !important;
      line-height: 30px !important;
      padding: 0 0 35px;
    }
    .date{
      font-size: 15px;
    }
    .author-name{
      font-size: 15px;
    }
    .post-categories li a{
      font-size: 14px;
    }
  }

  .blog-category {
    .blog-list {
      .three-block {
        p.content{
          font-size: 19px !important;
          line-height: 30px !important;
          padding: 0 0 30px !important;
        }
        .name{
          font-size: 14px !important;
          line-height: 22px !important;
        }
        .time-ago{
          font-size: 14px !important;
        }
        .bid-time{
          font-size: 14px !important;
        }
      }
    }
  }

}

@media (min-width: 992px) {
  .blog-page {
    .blog-sec.custom-blog {
      .main-blk {
        .left-blk {
          .sidebar {
            ul {
              margin: 0;
              li {
                //display: none;
                  &:nth-child(1),
                  &:nth-child(2) {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
  }
  }


.view-all-btn {
  font-size: 14px;
  color: #262626;
  margin: 0 0 15px;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
}

.wp-block-image .aligncenter{
  margin: 0 !important;
}

.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  //position: fixed;
  //z-index: 9999;
  //width: 100%;
  //height: 100%;
  //top: 100%;
  //transform: translateY(-60%) ;
  //left: 0;
  //color:#333333;
  z-index: 9999;
  color: #333333;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.5);
  h3 {
    //font-family: 'fira-sans-medium';
    //font-size: 18px;
    //line-height: 24px;
    //padding-bottom: 5px;
    font-family: 'fira-sans-medium';
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5effe;
  }
  p.bottom-info {
    padding-bottom: 22px;
    font-size: 14px;
  }
  .img-wrap {
    max-width: 283px;
    object-fit: cover;
    flex: 0 0 37%;

    //&:after {
    //  content: '';
    //  position: absolute;
    //  width: 22px;
    //  height: 22px;
    //  background: #00f;
    //  border-radius: 50%;
    //  top: 18%;
    //  left: 46%;
    //}
  }
  .content {
    .top-box {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #e5effe;
    }
    .bottom-box {
      .info {
        p {
          font-weight: bold;
        }
      }
      .footer-subscribe-btn {
        flex: 0 0 52%;
        #mc_embed_signup .mc-field-group {
          padding-bottom: 0;
          width: 100%;
        }
        #mc_embed_signup form {
          padding: 0;
        }
        #mc_embed_signup {
          background: transparent;
        }
        #mc-embedded-subscribe {
          margin: 0;
          position: absolute;
          top: 0;
          right: 0;
          background: #000;
          color: #fff;
          padding: 16px 11px;
          font-size: 14px;
          border: none;
        }
        #mc_embed_signup .mc-field-group input {
          height: 50px;
          padding: 15px 100px 15px 15px;
          font-size: 14px;
          border: 1px solid #000;
          &::placeholder {
            color: #000;
            font-family: 'Fira Sans', sans-serif;
          }
        }
      }
    }
  }
  .content-side {
    padding-left: 27px;
    padding-right: 50px;
    h4 {
      font-family: 'PT Serif', serif;
      font-size: 22px;
      padding-bottom: 15px;
      font-weight: bold;
      padding-top: 13px;
      position: relative;
      line-height: 32px;
      //&:after {
      //  content: '';
      //  position: absolute;
      //  width: 95px;
      //  height: 95px;
      //  background: #ffda00;
      //  border-radius: 50%;
      //  top: -28px;
      //  left: -10px;
      //  z-index: -1;
      //}
    }

    p {
      color: #262626;
      font-size: 12px;
      margin-bottom: 23px;
    }
    .read-more {
      a {
        color: #16161c;
        font-family: 'lato-bold';
        position: relative;
        &:before {
          content: '';
          position: absolute;
          background: url(../images/arrow.svg) no-repeat;
          width: 20px;
          height: 20px;
          right: -30px;
          top: 5px;
        }
        }
      }
    }
}

.lightbox:after {
  content: '';
  display: table;
  clear: both;
}

.lightbox .box {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  min-width: 652px;
  //margin: 2% auto;
  padding: 30px;
  box-shadow: 0 14px 74px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  margin: 0 auto;
  border-radius: 10px;
}

.lightbox .title {
  margin:0;
  padding:0 0 10px 0px;
  border-bottom:1px #ccc solid;
  font-size:22px;
}

.lightbox .content {
  display:block;
  padding:10px 0 0 0px;
  font-size:18px;
  line-height:22px;
  clear: both;
}

.lightbox .close {
  float:right;
  display:block;
  text-decoration:none;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:22px;
  color:#858585;
}

.lightbox #close {
  cursor: pointer;
  width: auto;
  position: absolute;
  right: 20px;
  top: 20px;
}

.lightbox .open {
  /** Show lightbox when mouse leaves the browser window */
  display: block;
  outline: none;
}

.lightbox {
  &.dark {
    .box {
      background-color: #16161c;
    }
    #close {
      img {
        max-width: 15px;
      }
    }
    h3 {
      color: #fff;
    }
    .content-side{
      h4 ,p {
        color: #fff;
      }
      .read-more {
        a {
          color: #ffffff;
          &:before {
            background: url("../images/blog/arrow-white.svg") no-repeat;
          }
        }
      }
    }
    .content .bottom-box {
        .info p {
          color: #ffffff;
        }
      .footer-subscribe-btn  {
        #mc_embed_signup .mc-field-group input {
          border: 1px solid #fff;
          background: #16161c;
          &::placeholder {
            color: #fff;
            font-family: 'Fira Sans', sans-serif;
          }
        }
        #mc-embedded-subscribe {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .lightbox {
    .img-wrap {
      flex: 0 0 100%;
    }
    h3 {
      padding-bottom: 30px;
    }
    .box {
      max-width: 350px;
      padding: 20px;
      min-width: 350px;
    }
    .content-side {
      padding-left: 0;
      padding-top: 20px;
    }
    .content .top-box {
      justify-content: left;
    }
    .content .bottom-box .info p {
      padding-bottom: 15px;
      font-size: 16px;
    }
    .content .bottom-box .footer-subscribe-btn {
      flex: 0 0 100%;
    }
    .img-wrap:after {
      top: 70px;
      left: 40px;
    }
  }
}

#subscribe-result-three p {
  color: #fff;
  padding-top: 15px;
}

#subscribe-result-two p {
  //color: #16161c;
  //padding-top: 15px;
  display: table-caption;
  position: absolute;
  background: #0000ff;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 10px;
  font-family: lato-regular;
  font-weight: 400;
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 13%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0000ff transparent;
  }
}
.thanks-popup {
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  margin: 0 auto;
  max-width: 480px;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.custom-popup .modal-body#subscribe-popup .close img {
  float: none;
  width: auto;
  left: 0;
  bottom: 0;
  border-radius: 0;
}
.custom-popup #my-popup.modal-body.hidden {
  display: none;
  max-width: 480px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 14px 74px rgba(0, 0, 0, 0.1);
  position: relative;
  //top: 50%;
  //transform: translateY(-50%) !important;
  margin: 0 auto;
  padding: 0;
  img {
    width: 100%;
    left: 0;
    border-radius: 0;
    padding-bottom: 30px;
  }
  button.close {
    cursor: pointer;
    opacity: 1;
  }
  h3 {
    font-family: 'PT Serif';
    font-size: 18px;
    color: #262626;
    font-weight: bold;
  }
  p {
    padding: 15px 58px 38px;
    font-family: 'Fira Sans';
    font-size: 12px;
    color: #262626;
  }
  @media (max-width: 991px) {
    img {
      display: block;
    }
  }
}

.blog-page .main-blk .right-blk ul.latest-blog li {
  margin-bottom: 30px;
}

.img-wrap{
  position: relative;
}
.img-wrap .image-placeholder{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #f8f8f8, #f8f8f8, #f2f2f2, #f8f8f8);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#button {
  display: inline-block;
  background-color: #ffda00;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #000;
}
//#button:active {
//  background-color: #000;
//}
#button.show {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 991px) {
  #button {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: background-color .3s,opacity .5s,visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button:after {
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 42px;
    color: #fff;
  }
}
.blog-details-page {
  .sidebar.left-sidebar {
    margin: 0px 0px 20px 0;
    top: 120px;
    .inn-author .date {
      padding: 0 0 15px;
    }
      .post-categories{
        color: #8b8b8b;
        li {
          display:inline-block ;
          list-style: none;
          width: auto !important;
          line-height: 1.2;
          a {
            color: #8b8b8b;
            text-transform: uppercase;
            margin: 0;
            font-size: 12px;
            opacity: 0.5;
            border-right: 1px solid #8b8b8b;
            margin-right: 10px !important;
            padding-right: 10px !important;
          }
          &:last-child {
            a {
              border: none;
            }
          }
        }
      }
  }
}

@media (min-width: 992px) {
  .blog-details-page .main-blk .right-blk {
    .top-part {
      .inn-author,
      h4 {
        display: none;
      }
    }
  }
}

.sidebar {
  h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
#summery-list {
  ul {
    li {
      &.active {
        a{
          color:#0000ff;
        }
      }
      a {
        margin:  0 0 8px;
        color: #8b8b8b;
        font-size: 14px;
        opacity: 0.8;
      }
    }
  }
}

.grey-border {
  padding: 10px;
  border: 1px solid #ccc;
}

#subscribe-blk {
  br {
    display: block;
  }
}
.blog-page .main-blk .left-blk {
  .desk-top {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    br {
      display: block;
    }
    ul {
      li {
        display: block;
        a {
          color: #8b8b8b;
          text-transform: uppercase;
          margin: 0;
          font-size: 12px;
          opacity: .5;
        }
      }
    }
    h4 {
      padding: 15px 0 10px;
      text-align: center;
      margin: 0;
    }
    .inn-author {
      padding-top: 10px;
      float: none;
      width: 100%;
      text-align: center;
      .logo-author {
        display: block;
        float: none;
        margin: 0 auto 15px;
      }
    }
  }
}

@media (max-width: 991px) {
  .blog-page .main-blk .left-blk .desk-top {
    display: none;
  }
}

.blog-page.blog-details-page{
  .newsletter-blk {
    padding: 46px 0 46px;
  }
}

.related-post.rel-post {
  border-top: 1px solid #eff1f3;
  padding: 46px 0 0 0;
  h3{
    padding: 0 0 30px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    text-align: center;
  }
  .small-title {
    padding: 16px 0;
    .post-categories li:first-child {
      display: inline-block;
      width: auto !important;
      border-right: 1px solid #8b8b8b;
      margin-right: 15px !important;
      padding-right: 15px !important;
    }
  }
  span.hover-line {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px),#001033 2px) !important;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .2s;
  }
  ul li:hover {
    span.hover-line {
      background-size: 100% 100%;
    }
  }
  @media (min-width: 992px) {
    ul {
      display: flex;
      li {
        display: inline-block;
        width: 50%;
      }
    }
  }
  ul{
    margin: 24px 0 0;
    padding: 0;
    li{
      h2 {
        font-size: 22px;
      }
    }
    img{
      margin: 0;
      height: auto;
    }
  }
  &:hover{
    img{
      transform: unset !important;
    }
  }
  ul{
    padding: 0;
    li{
      list-style-type: none;
      &:last-child {
        margin-right: 0;
      }
      &:hover{
        img{
          transform: scale(1.05) !important;
          -webkit-transform: scale(1.05) !important;
          -o-transform: scale(1.05) !important;
        }
      }
      img{
        transform: scale(1);
        -webkit-transition: -webkit-transform .4s ease-out 0s;
        transition: -webkit-transform .4s ease-out 0s;
        -o-transition: -o-transform .4s ease-out 0s;
        transition: transform .4s ease-out 0s;
        transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
        max-width: 100%;
        display: block;
        width: 100%;
      }
      .img-wrap{
        height: 150px !important;
      }
    }
  }
  @media (min-width: 992px) {
    ul.sec-list {
      li {
        margin-right:45px;
      }
    }
  }
  @media (max-width: 991px) {
    ul li {
      margin: 0 0 30px;
      &:last-child {
        display: inline-block;
      }
    }
    ul.sec-list {
      li {
         p {
           margin-bottom: 10px;
           padding: 0 0 80px;
         }
      }
    }
  }
}
.blog-page.blog-details-page {
  .main-blk.top-bar {
    justify-content: normal;
    @media (min-width: 992px) {
      .left-blk {
        padding-right: 3%;
        width: 18%;
      }
      .right-blk {
        max-width: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .blog-page .main-blk {
    margin-bottom: 30px;
  }
}


.blog-details-page {
  .main-blk {
    .right-blk{
      .table-content{
        border: 1px solid #f3f3f3;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        table{
          //border-collapse: inherit;
          table-layout: auto;
          overflow: hidden;
          margin-bottom: 0;
          width: 100%;
          tr{
            td{
              font-size: 16px !important;
              color: #000;
              padding: 10px 30px !important;
              border: 1px solid #f3f3f3;
              &:nth-child(1n){
                width: 35%;
              }
              &:nth-child(2n){
                width: 65%;
              }
            }
            th{
              font-size: 20px;
              color: #000 ;
              padding: 12px 30px;
              background: #f3f3f3;
              font-family: 'pt-serif-bold';
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
