@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'fira-sans-medium';
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans-Medium.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }
@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

.blog-page hr {
  border-top: 1px solid #ebedf0;
  margin: 46px 0 0; }
.blog-page .main-blk {
  display: flex;
  justify-content: space-between; }
  .blog-page .main-blk .left-blk {
    width: 19%;
    padding-right: 30px; }
    .blog-page .main-blk .left-blk h3 {
      font-size: 18px;
      line-height: 24px;
      padding: 0 0 10px; }
    .blog-page .main-blk .left-blk form {
      position: relative; }
      .blog-page .main-blk .left-blk form #mc_embed_signup_scroll {
        display: flex; }
      .blog-page .main-blk .left-blk form:after {
        content: "";
        position: absolute;
        top: 28px;
        right: 19px;
        background: url(../images/blog/link-arrow-black-small.svg) no-repeat right !important;
        width: 14px;
        height: 14px; }
    .blog-page .main-blk .left-blk input.email {
      height: 50px !important;
      border-radius: 4px !important;
      border: solid 1px #dedede !important;
      border-right: solid 1px #ffffff  !important;
      background-color: #ffffff !important;
      padding: 10px 10px !important;
      font-size: 14px  !important;
      width: 85% !important;
      font-family: 'Fira Sans', sans-serif !important;
      margin: 0px -4px 0 0px !important;
      outline: none !important; }
    .blog-page .main-blk .left-blk ::placeholder {
      color: #001033 !important;
      opacity: 0.5 !important;
      font-family: 'Fira Sans', sans-serif !important; }
    .blog-page .main-blk .left-blk .clear {
      width: 25%;
      position: absolute;
      right: 0;
      z-index: 9; }
    .blog-page .main-blk .left-blk #mc_embed_signup .button {
      width: 45px !important;
      padding: 0 !important;
      border: solid 1px #dedede !important;
      border-left: solid 1px #ffffff   !important;
      border-radius: 4px !important;
      font-size: 14px  !important;
      background: none;
      height: 50px;
      position: relative;
      outline: none !important;
      color: transparent !important; }
    .blog-page .main-blk .left-blk h4 {
      font-size: 14px;
      color: #262626;
      padding: 60px 0 10px; }
    .blog-page .main-blk .left-blk p {
      color: #262626;
      opacity: 0.5;
      padding: 10px 0 0 0; }
    .blog-page .main-blk .left-blk ul {
      list-style: none;
      padding: 0; }
      .blog-page .main-blk .left-blk ul li a {
        font-size: 14px;
        color: #262626;
        margin: 0 0 15px;
        display: inline-block;
        font-weight: 500; }
      .blog-page .main-blk .left-blk ul li .active {
        position: relative;
        color: #0000ff; }
        .blog-page .main-blk .left-blk ul li .active:after {
          content: "";
          position: absolute;
          right: -58px;
          top: 0;
          background: url("../images/blog/link-arrow.svg") no-repeat center right;
          width: 100%;
          height: 100%; }
  .blog-page .main-blk .right-blk {
    width: 100%; }
    .blog-page .main-blk .right-blk .inn-blk {
      display: flex; }
      .blog-page .main-blk .right-blk .inn-blk .left-inn {
        width: 100%; }
        .blog-page .main-blk .right-blk .inn-blk .left-inn .top-part img {
          padding: 10px;
          border: 1px solid #ccc; }
      .blog-page .main-blk .right-blk .inn-blk .right-inn {
        width: 50%;
        padding-left: 45px; }
    .blog-page .main-blk .right-blk ul {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 30px 0 0 0; }
      .blog-page .main-blk .right-blk ul li {
        width: 100%;
        margin-right: 45px;
        border-bottom: 1px solid #e8eaed;
        padding: 0 0 15px; }
        .blog-page .main-blk .right-blk ul li:last-child {
          margin: 0; }
        .blog-page .main-blk .right-blk ul li .small-title {
          padding: 16px 0; }
        .blog-page .main-blk .right-blk ul li h2 {
          font-size: 26px;
          line-height: 32px;
          color: #262626;
          font-family: 'PT Serif', serif; }
        .blog-page .main-blk .right-blk ul li p {
          font-size: 16px;
          line-height: 26px;
          color: #262626;
          padding: 0 0 30px; }
    .blog-page .main-blk .right-blk .newsletter-blk {
      display: flex;
      align-items: center;
      padding: 46px 0 46px;
      text-align: center; }
      .blog-page .main-blk .right-blk .newsletter-blk .left-blk {
        width: 100%;
        padding: 0; }
        .blog-page .main-blk .right-blk .newsletter-blk .left-blk p {
          padding: 0 0 20px; }
        .blog-page .main-blk .right-blk .newsletter-blk .left-blk h2 {
          font-size: 30px !important;
          font-family: 'PT Serif', serif !important;
          font-weight: bold !important;
          padding: 0 0 15px !important; }
      .blog-page .main-blk .right-blk .newsletter-blk .right-blk {
        width: 43%;
        position: relative; }
        .blog-page .main-blk .right-blk .newsletter-blk .right-blk:after {
          content: "";
          position: absolute;
          top: 0;
          right: 27px;
          background: url(../images/blog/link-arrow-black.svg) no-repeat right #fff;
          width: 27px;
          height: 100%; }
        .blog-page .main-blk .right-blk .newsletter-blk .right-blk input {
          height: 50px;
          border-radius: 4px;
          border: solid 1px #dedede;
          background-color: #ffffff;
          padding: 10px 15px;
          font-size: 14px;
          width: 100%; }
          .blog-page .main-blk .right-blk .newsletter-blk .right-blk input:focus {
            outline: none; }
        .blog-page .main-blk .right-blk .newsletter-blk .right-blk ::placeholder {
          color: #001033;
          opacity: 0.5; }
    .blog-page .main-blk .right-blk .newsletter-blk.middle {
      padding-bottom: 0; }
      .blog-page .main-blk .right-blk .newsletter-blk.middle .left-blk h4 {
        padding: 0 0 10px; }
      .blog-page .main-blk .right-blk .newsletter-blk.middle .right-blk {
        text-align: left;
        padding: 0 0 0 45px; }
        .blog-page .main-blk .right-blk .newsletter-blk.middle .right-blk:after {
          display: none; }
        .blog-page .main-blk .right-blk .newsletter-blk.middle .right-blk p {
          padding: 0 0 16px; }
.blog-page .small-title {
  font-size: 12px;
  color: #262626;
  padding: 0 0 15px;
  opacity: 0.5; }
.blog-page .main-title {
  font-size: 30px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  padding: 0 0 15px; }
.blog-page .main-title.new-title {
  font-size: 30px;
  padding: 45px 0 0; }
.blog-page .main-title.tools {
  padding: 40px 0 0; }
.blog-page p {
  font-size: 17px;
  line-height: 28px;
  color: #262626;
  padding: 0 0 25px; }
.blog-page .author-name {
  font-size: 12px;
  color: #0000ff;
  padding: 0 20px 0 0;
  float: left; }
.blog-page .date {
  font-size: 12px;
  color: #898989;
  width: auto;
  float: left;
  padding: 0 0 25px; }
.blog-page .post-categories li:first-child {
  display: inline-block;
  margin: 0 !important;
  border-bottom: 0 !important;
  padding: 0 !important;
  width: 100% !important; }
.blog-page .post-categories {
  margin: 0 !important; }
.blog-page .post-categories li a {
  color: #8b8b8b;
  text-transform: uppercase; }
.blog-page .post-categories li {
  display: none; }
.blog-page .second-row li img {
  width: 100%;
  object-fit: cover;
  height: 157px;
  object-position: center; }
.blog-page .second-row li {
  position: relative;
  width: 30.7% !important; }
.blog-page .second-row li .author-data {
  position: absolute;
  bottom: 15px; }
.blog-page .second-row li:nth-child(3n) {
  margin-right: 0 !important; }
.blog-page .second-row {
  flex-wrap: wrap; }
.blog-page .author-data .date {
  padding: 0 !important; }
.blog-page .main-blk .right-blk ul li {
  position: relative; }
.blog-page .main-blk .right-blk ul li .author-data {
  position: absolute;
  bottom: 15px; }
.blog-page .main-blk .right-blk ul li p {
  margin-bottom: 10px; }
.blog-page .main-blk .right-blk .newsletter-blk.middle {
  border-bottom: 1px solid #e8eaed;
  padding-bottom: 46px !important; }
.blog-page .main-blk .right-blk .inn-blk .right-inn {
  position: relative; }
.blog-page .main-blk .right-blk .inn-blk .right-inn .author-data {
  position: absolute;
  bottom: 0; }
.blog-page .main-blk .right-blk .inn-blk .left-inn img {
  object-fit: cover;
  object-position: center;
  height: 336px;
  width: 100%; }
.blog-page .main-blk .right-blk .inn-blk .left-inn .img-wrap {
  overflow: hidden;
  height: 336px !important; }
.blog-page .main-blk .right-blk .inn-blk:hover img {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  -o-transform: scale(1.05) !important; }
.blog-page .main-blk .right-blk .inn-blk .left-inn img {
  transform: scale(1);
  -webkit-transition: -webkit-transform .4s ease-out 0s;
  transition: -webkit-transform .4s ease-out 0s;
  -o-transition: -o-transform .4s ease-out 0s;
  transition: transform .4s ease-out 0s;
  transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
  max-width: 100%;
  display: block;
  width: 100%; }
.blog-page .sec-list li img {
  object-fit: cover;
  object-position: center;
  height: 246px;
  width: 100%; }
.blog-page .sec-list li .img-wrap {
  overflow: hidden;
  height: 246px !important; }
.blog-page .hidden-blk {
  display: none; }
.blog-page .pagination {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 32%; }
.blog-page .pagination h2 {
  display: none; }
.blog-page .pagination .page-numbers {
  margin: 0 10px 0 0; }
.blog-page .pagination .page-numbers {
  color: #898989; }
.blog-page .pagination .current {
  color: #262626; }
.blog-page .view-all-posts li {
  margin-bottom: 45px !important; }

.blog-details-page .change {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 30px;
  box-shadow: 0 14px 74px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transform: translateY(-50%);
  max-width: 300px;
  z-index: 9999; }
  .blog-details-page .change .long-subscribe-btn #mc_embed_signup .button {
    width: 70px !important; }
  .blog-details-page .change h5 {
    padding: 15px 0 0 0; }
.blog-details-page #close {
  float: right;
  cursor: pointer;
  position: relative;
  top: -10px; }
.blog-details-page .follow {
  display: none; }
.blog-details-page .main-blk .left-blk {
  padding: 370px 0 0 0; }
.blog-details-page .main-blk .right-blk .post-categories {
  padding: 0; }
  .blog-details-page .main-blk .right-blk .post-categories li {
    list-style: none;
    width: auto !important;
    border-right: 1px solid #8b8b8b;
    margin-right: 15px !important;
    padding-right: 15px !important;
    display: inline-block; }
    .blog-details-page .main-blk .right-blk .post-categories li:last-child {
      padding: 0;
      border-right: none; }
.blog-details-page .main-blk .right-blk ul {
  display: block;
  list-style: circle;
  padding-left: 15px; }
  .blog-details-page .main-blk .right-blk ul li {
    border-bottom: 0;
    display: list-item;
    list-style: disc; }
    .blog-details-page .main-blk .right-blk ul li span.hover-line {
      width: calc(100%);
      background-image: linear-gradient(transparent calc(100% - 2px), #001033 2px) !important;
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 0.2s; }
    .blog-details-page .main-blk .right-blk ul li:hover span.hover-line {
      background-size: 100% 100%; }
.blog-details-page .main-blk .right-blk .back-btn {
  font-size: 14px;
  color: #262626;
  margin: 0 0 34px;
  display: inline-block; }
  .blog-details-page .main-blk .right-blk .back-btn img {
    margin: 0 10px 2px 0;
    height: auto !important;
    width: auto !important; }
.blog-details-page .main-blk .right-blk h4 {
  font-size: 12px;
  color: #262626;
  padding: 0 0 15px;
  opacity: 0.5;
  text-transform: uppercase; }
.blog-details-page .main-blk .right-blk h1 {
  font-size: 40px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  padding: 0 0 25px;
  color: #262626; }
.blog-details-page .main-blk .right-blk h2 {
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
  padding: 0 0 15px;
  color: #121212; }
.blog-details-page .main-blk .right-blk h3 {
  font-size: 26px;
  color: #262626;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  padding: 0 0 15px; }
.blog-details-page .main-blk .right-blk .blog-details-img {
  margin: 0 0 30px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center; }
.blog-details-page .main-blk .right-blk .related-post {
  border-top: 1px solid #eff1f3;
  padding: 46px 0 0 0; }
  .blog-details-page .main-blk .right-blk .related-post h3 {
    padding: 0;
    font-family: 'PT Serif', serif;
    font-weight: bold; }
  .blog-details-page .main-blk .right-blk .related-post ul {
    margin: 24px 0 0;
    display: flex;
    padding: 0; }
    .blog-details-page .main-blk .right-blk .related-post ul li {
      display: inline-block;
      width: 50%; }
      .blog-details-page .main-blk .right-blk .related-post ul li h2 {
        font-size: 22px; }
    .blog-details-page .main-blk .right-blk .related-post ul img {
      margin: 0;
      height: auto; }
.blog-details-page .main-blk .right-blk .inn-blk .right-inn {
  padding: 430px 0 0 45px;
  width: 20%; }
  .blog-details-page .main-blk .right-blk .inn-blk .right-inn img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin: 0 15px 15px 0;
    float: left; }
  .blog-details-page .main-blk .right-blk .inn-blk .right-inn span {
    font-size: 12px;
    color: #0000ff;
    padding: 15px 0 0 0;
    display: inline-block;
    float: none; }
  .blog-details-page .main-blk .right-blk .inn-blk .right-inn .date {
    float: left;
    width: 100%;
    padding: 0; }
  .blog-details-page .main-blk .right-blk .inn-blk .right-inn .hash-links {
    float: left;
    border-bottom: solid 1px #dedede;
    width: 100%;
    padding: 0 0 24px; }
    .blog-details-page .main-blk .right-blk .inn-blk .right-inn .hash-links a {
      display: block;
      width: auto;
      font-size: 14px;
      color: #a1a6b3;
      padding: 8px 17px;
      border-radius: 4px;
      border: solid 1px #dedede;
      background-color: #ffffff;
      width: auto;
      float: left;
      margin: 0 10px 10px 0; }
  .blog-details-page .main-blk .right-blk .inn-blk .right-inn h5 {
    font-size: 18px;
    color: #262626;
    padding: 30px 0 25px;
    float: left; }
.blog-details-page .main-blk .right-blk .inn-blk .left-inn .jtt-post-content img {
  width: auto;
  height: auto;
  max-width: 100%; }
.blog-details-page .main-blk .right-blk .inn-blk .left-inn .jtt-post-content iframe {
  max-width: 100%; }
.blog-details-page .main-blk .right-blk .subscribe-blk form {
  position: relative;
  float: left;
  width: 100%; }
  .blog-details-page .main-blk .right-blk .subscribe-blk form:after {
    content: "";
    position: absolute;
    top: 0;
    right: 19px;
    background: url(../images/blog/link-arrow-black-small.svg) no-repeat right;
    width: 27px;
    height: 100%; }
  .blog-details-page .main-blk .right-blk .subscribe-blk form input {
    height: 50px;
    border-radius: 4px;
    border: solid 1px #dedede;
    background-color: #ffffff;
    padding: 10px 15px;
    font-size: 14px;
    width: 100%; }
.blog-details-page .main-blk .right-blk .wp-block-gallery {
  padding: 0; }
  .blog-details-page .main-blk .right-blk .wp-block-gallery li {
    list-style: none; }
.blog-details-page .post-categories li:first-child {
  display: inline-block;
  margin: 0 !important;
  border-bottom: 0 !important;
  padding: 0 !important;
  width: 100% !important; }
.blog-details-page .post-categories {
  margin: 0 !important; }
.blog-details-page .post-categories li {
  display: none; }
.blog-details-page p:empty {
  display: none; }
.blog-details-page br {
  display: none; }
.blog-details-page .date span {
  padding: 0 !important;
  color: #898989 !important; }
.blog-details-page .sec-list li {
  position: relative; }
.blog-details-page .sec-list li p {
  margin-bottom: 15px;
  padding-top: 15px !important; }
.blog-details-page .sec-list .author-data {
  position: absolute;
  bottom: 15px; }
.blog-details-page .sec-list li img {
  object-fit: cover;
  object-position: center;
  height: 157px !important;
  width: 100%; }
.blog-details-page .author-data .date {
  padding: 0 !important; }
.blog-details-page .newsletter-blk .right-blk {
  padding-right: 0 !important; }
.blog-details-page .main-blk .right-blk .inn-blk .left-inn .related-post:hover img {
  transform: unset !important; }
.blog-details-page .main-blk .right-blk .inn-blk .left-inn .related-post ul li:hover img {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  -o-transform: scale(1.05) !important; }
.blog-details-page .main-blk .right-blk .inn-blk .left-inn .related-post ul li img {
  transform: scale(1);
  -webkit-transition: -webkit-transform .4s ease-out 0s;
  transition: -webkit-transform .4s ease-out 0s;
  -o-transition: -o-transform .4s ease-out 0s;
  transition: transform .4s ease-out 0s;
  transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
  max-width: 100%;
  display: block;
  width: 100%; }
.blog-details-page .main-blk .right-blk .inn-blk .left-inn .related-post ul li .img-wrap {
  height: 130px !important; }

.sidebar {
  position: sticky;
  top: 120px; }

.back-btn {
  float: left;
  font-size: 14px;
  color: #262626;
  margin: 20px 20px 34px 20px !important;
  border: none;
  background: none;
  position: relative;
  cursor: pointer; }
  .back-btn:after {
    content: "";
    position: absolute;
    background: url("../images/blog/back-btn.svg") no-repeat;
    left: -12px;
    top: 6px;
    padding-left: 20px;
    width: 13px;
    height: 11px; }
  .back-btn:focus {
    outline: none; }

.inn-author {
  float: left;
  width: 100%; }
  .inn-author .logo-author {
    height: 45px !important;
    width: 45px !important;
    border: none !important;
    padding: 0 !important;
    border-radius: 45px;
    margin: 0 15px 15px 0;
    float: left; }
  .inn-author .date {
    padding: 0;
    float: none; }
    .inn-author .date span {
      padding: 0;
      float: none; }
  .inn-author span {
    padding: 0;
    float: none; }

.blog-details-page .main-blk .right-blk .newsletter-blk .right-blk:after {
  right: 36px; }

.blog-page .main-blk .right-blk .newsletter-blk .right-blk:after {
  display: none; }

.subscribe-btn {
  font-size: 17px;
  color: #ffffff;
  padding: 14px 34px;
  border-radius: 4px;
  background-color: #0000ff;
  border-color: #0000ff;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
  transition: 0.3s all ease-in-out; }
  .subscribe-btn:focus {
    box-shadow: none !important; }
  .subscribe-btn:hover {
    background: #0000CD; }

.subscribe-btn.white {
  border-radius: 4px;
  border: solid 1px #16161c;
  padding: 9px 15px;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  margin: 15px 0 0 0;
  color: #16161c;
  transition: 0.4s all ease-in-out; }
  .subscribe-btn.white:hover {
    background: #16161c;
    color: #ffffff; }
  .subscribe-btn.white:active {
    background: #16161c !important;
    color: #ffffff !important; }
  .subscribe-btn.white .btn-primary:not(:disabled):not(.disabled).active, .subscribe-btn.white .btn-primary:not(:disabled):not(.disabled):active, .subscribe-btn.white .show > .btn-primary.dropdown-toggle {
    background: #16161c !important;
    color: #ffffff; }

.custom-popup ::placeholder {
  opacity: 0.2 !important;
  color: #2c2929 !important; }
.custom-popup .modal-dialog {
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  margin: 0 auto; }
.custom-popup .modal-content {
  overflow: visible;
  background-color: transparent;
  border: none; }
.custom-popup .modal-body {
  display: flex;
  padding: 0;
  align-items: stretch; }
  .custom-popup .modal-body img {
    float: left;
    width: 45%;
    position: relative;
    left: -5.5px;
    bottom: 0px;
    border-radius: 10px; }
  @media (max-width: 991px) {
    .custom-popup .modal-body {
      padding: 0 15px; } }
.custom-popup .close {
  position: absolute;
  right: 15px;
  z-index: 9;
  top: 9px; }
  .custom-popup .close:focus {
    outline: none; }
.custom-popup #mc_embed_signup {
  width: 100%; }
.custom-popup .modal-dialog {
  width: 100%;
  max-width: 916px; }
.custom-popup div.mce_inline_error {
  display: none !important; }
.custom-popup input {
  padding: 13px 30px 13px 15px !important;
  color: #000 !important;
  font-size: 20px !important;
  background: #ffffff !important;
  border-radius: 13px !important;
  border: solid 1.5px #d0d7eb;
  margin: 0 0 0 0 !important;
  font-family: Lato !important;
  font-weight: 500 !important; }
  .custom-popup input:focus {
    outline: none; }
.custom-popup #mc_embed_signup input {
  border: solid 1px #d0d7eb; }
.custom-popup .mc-field-group {
  padding: 0 0 30px 0 !important; }
.custom-popup label {
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 16px; }
.custom-popup .submit {
  background: #febd65 !important;
  height: auto !important;
  padding: 13px 46px 13px 45px !important;
  border-radius: 4px !important;
  color: #ffffff !important;
  border: none !important;
  font-family: Lato !important;
  font-weight: 500 !important; }
.custom-popup #mc_embed_signup {
  padding: 5.5% 5% 5% 5% !important; }
  .custom-popup #mc_embed_signup form {
    padding: 0 !important; }
.custom-popup h2 {
  font-size: 30px !important;
  margin: 0 0 30px 0 !important;
  font-family: Lato !important;
  font-weight: bold !important; }
.custom-popup #subscribe-result {
  color: green !important;
  padding: 15px 0 0 0; }
@media (min-width: 992px) {
  .custom-popup #mc_embed_signup {
    margin-left: -3%; } }

.not-found {
  padding: 50px 0 100px; }
  .not-found .main-blk {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .not-found .main-blk .left-blk {
      width: 37%; }
      .not-found .main-blk .left-blk h2 {
        font-size: 42px;
        padding: 0 0 15px;
        font-family: 'PT Serif', serif;
        font-weight: 700; }
      .not-found .main-blk .left-blk p {
        font-size: 17px;
        line-height: 28px;
        padding: 0 0 20px;
        color: #121212; }
      .not-found .main-blk .left-blk a {
        font-size: 17px;
        border-radius: 4px;
        background-color: #0000ff;
        padding: 15px 34px;
        color: #ffffff;
        display: inline-block;
        transition: 0.4s all ease-in-out;
        font-family: 'Libre Franklin'; }
        .not-found .main-blk .left-blk a:hover {
          background: #0000CD; }
    .not-found .main-blk .right-blk {
      width: 37%; }

@media only screen and (max-width: 991px) {
  .blog-page img {
    height: auto !important; }
  .blog-page .main-blk {
    display: block; }
    .blog-page .main-blk img {
      width: 100%; }
    .blog-page .main-blk .left-blk {
      width: 100%; }
      .blog-page .main-blk .left-blk img {
        width: auto; }
    .blog-page .main-blk .right-blk {
      width: 100%; }
      .blog-page .main-blk .right-blk ul {
        display: block !important; }
        .blog-page .main-blk .right-blk ul li {
          width: 100% !important;
          margin: 0 0 30px; }
      .blog-page .main-blk .right-blk .newsletter-blk {
        display: block; }
        .blog-page .main-blk .right-blk .newsletter-blk .left-blk {
          width: 100%; }
        .blog-page .main-blk .right-blk .newsletter-blk .right-blk {
          width: 100%;
          padding: 20px 0 0 0 !important;
          text-align: left;
          margin: 0 0 0 0; }
          .blog-page .main-blk .right-blk .newsletter-blk .right-blk:after {
            top: 10px; }
          .blog-page .main-blk .right-blk .newsletter-blk .right-blk input {
            width: 100%;
            margin: 20px 0 0 0; }
      .blog-page .main-blk .right-blk .inn-blk {
        display: block; }
        .blog-page .main-blk .right-blk .inn-blk .left-blk {
          width: 100%; }
        .blog-page .main-blk .right-blk .inn-blk .right-inn {
          width: 100%;
          padding: 30px 0 0; }
  .blog-page .social-icons a {
    display: inline-block;
    margin: 0 10px 0 0; }

  .blog-details-page img {
    height: auto !important; }
  .blog-details-page .main-title {
    font-size: 30px !important; }
  .blog-details-page .main-blk .right-blk ul li {
    margin: 0 0 10px; }
  .blog-details-page .main-blk .right-blk h2 {
    font-size: 30px; }
  .blog-details-page .main-blk .right-blk .back-btn img {
    width: auto; }
  .blog-details-page .main-blk .right-blk .newsletter-blk {
    float: left;
    width: 100%;
    padding: 20px 0 50px; }
  .blog-details-page .main-blk .right-blk .related-post ul {
    padding: 0; }
    .blog-details-page .main-blk .right-blk .related-post ul li {
      margin: 0 0 30px; }
  .blog-details-page .main-blk .right-blk .post-categories li {
    margin-right: 20px !important;
    padding-right: 20px !important; }
  .blog-details-page .main-blk .left-blk {
    padding: 0; }

  .blog-details-page .change {
    display: none; }

  .not-found .main-blk {
    display: block; }
    .not-found .main-blk .left-blk {
      width: 100%;
      padding: 0 0 40px; }
    .not-found .main-blk .right-blk {
      width: 100%; } }
.social-icons a {
  display: table;
  position: relative;
  margin-bottom: 10px; }
  .social-icons a img {
    max-width: 35px; }
    .social-icons a img.hide-logo {
      display: none; }
  .social-icons a:hover img.hide-logo {
    display: block;
    position: absolute;
    top: 0; }

.inn-blk span.hover-line {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 2px), #001033 2px) !important;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.2s; }
.inn-blk:hover span.hover-line {
  background-size: 100% 100%; }

.blog-page.blog-details-page .back-btn {
  font-size: 14px;
  color: #262626;
  margin: 0 0 34px;
  display: inline-block; }
  .blog-page.blog-details-page .back-btn img {
    object-fit: cover;
    object-position: center;
    margin: 0 10px 2px 0;
    height: auto !important;
    width: auto !important; }
.blog-page.blog-details-page .main-blk .left-blk {
  padding: 0;
  width: 22%; }
.blog-page.blog-details-page .main-blk .right-blk {
  max-width: 680px; }
.blog-page.blog-details-page .main-blk .side-blk {
  width: 13%; }
  .blog-page.blog-details-page .main-blk .side-blk .sidebar h4 {
    font-size: 14px;
    color: #262626;
    padding: 15px 0 10px; }
@media (min-width: 992px) {
  .blog-page.blog-details-page .side-blk .sidebar {
    margin: 0px 0 30px 10px;
    text-align: center; }
    .blog-page.blog-details-page .side-blk .sidebar .social-icons a {
      margin: 0 auto 10px; } }
.blog-page .main-blk .right-blk ul li span.hover-line {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 2px), #001033 2px) !important;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.2s; }
.blog-page .main-blk .right-blk ul li:hover span.hover-line {
  background-size: 100% 100%; }
.blog-page .main-blk .right-blk ul li .img-wrap {
  overflow: hidden;
  height: 157px; }
.blog-page .main-blk .right-blk ul li img {
  transform: scale(1);
  -webkit-transition: -webkit-transform .4s ease-out 0s;
  transition: -webkit-transform .4s ease-out 0s;
  -o-transition: -o-transform .4s ease-out 0s;
  transition: transform .4s ease-out 0s;
  transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
  max-width: 100%;
  display: block;
  width: 100%; }
.blog-page .main-blk .right-blk ul li:hover img {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  -o-transform: scale(1.05) !important; }

.blog-page .main-blk .right-blk .newsletter-blk .long-subscribe-btn .right-blk {
  width: 100%; }

.blog-page .main-blk .right-blk .newsletter-blk .right-blk:after {
  width: 27px;
  height: 27px;
  top: 22px;
  z-index: 0; }

.long-subscribe-btn {
  width: 44.5%; }
  .long-subscribe-btn form {
    position: relative; }
    .long-subscribe-btn form #mc_embed_signup_scroll {
      display: flex; }
  .long-subscribe-btn input.email {
    height: 50px !important;
    border-radius: 4px !important;
    border: solid 1px #dedede !important;
    border-right: solid 1px #ffffff  !important;
    background-color: #ffffff !important;
    padding: 10px 10px !important;
    font-size: 14px  !important;
    width: 75% !important;
    font-family: 'Fira Sans', sans-serif !important;
    margin: 0px -4px 0 0px !important;
    outline: none !important; }
  .long-subscribe-btn ::placeholder {
    color: #001033 !important;
    opacity: 0.5 !important;
    font-family: 'Fira Sans', sans-serif !important; }
  .long-subscribe-btn .clear {
    width: 26% !important;
    position: absolute;
    right: 0;
    z-index: 9; }
  .long-subscribe-btn #mc_embed_signup .button {
    width: 80px !important;
    padding: 0 !important;
    border: solid 1px #dedede !important;
    border-left: solid 1px #ffffff   !important;
    border-radius: 4px !important;
    font-size: 14px  !important;
    background: none;
    height: 50px;
    position: relative;
    outline: none !important;
    color: transparent !important;
    left: -9px; }
  .long-subscribe-btn #mc_embed_signup .button:hover {
    background-color: transparent !important; }

.email-blk .long-subscribe-btn {
  width: 100%;
  padding: 10px 0 10px 0; }
  .email-blk .long-subscribe-btn #mc_embed_signup_scroll {
    display: flex; }

.blog-details-page .main-blk .right-blk .inn-blk:hover img {
  transform: unset !important; }

@media (max-width: 991px) {
  .blog-page .main-blk .left-blk h4 {
    padding: 30px 0 10px; }
  .blog-page .main-blk .left-blk .clear {
    width: 7% !important; }
  .blog-page .main-blk .left-blk input.email {
    width: 100% !important; }

  .long-subscribe-btn {
    width: 100%; }

  .long-subscribe-btn #mc_embed_signup .button {
    width: 100% !important;
    left: 0; }

  .blog-page .main-blk .right-blk {
    margin-top: 50px; }

  .blog-page .main-blk .right-blk .newsletter-blk .right-blk:after {
    right: 12px; }

  .blog-details-page .main-blk .right-blk .inn-blk .left-inn .top-part {
    padding: 0 !important; }

  .custom-popup .modal-body img {
    display: none; }

  .custom-popup h2 {
    font-size: 24px !important; } }
@media (max-width: 767px) {
  .blog-page .main-blk .left-blk form:after {
    right: 0; }

  .long-subscribe-btn input.email {
    width: 100% !important; }

  .sidebar #mc_embed_signup input.email {
    width: 65% !important; }

  .blog-page .main-blk .left-blk .clear {
    right: 30%; }

  .blog-page .main-blk .left-blk form:after {
    right: 30%; }

  .blog-page.blog-details-page .main-blk .left-blk {
    width: auto; } }
.blog-page .jtt-post-content .content-box hr {
  margin: 0; }

.blog-details-page .main-blk .right-blk .jtt-post-content ul, .blog-details-page .main-blk .right-blk .jtt-post-content ol {
  margin: 0 0 45px; }
  .blog-details-page .main-blk .right-blk .jtt-post-content ul li, .blog-details-page .main-blk .right-blk .jtt-post-content ol li {
    padding: 0 0 15px; }
    .blog-details-page .main-blk .right-blk .jtt-post-content ul li:last-child, .blog-details-page .main-blk .right-blk .jtt-post-content ol li:last-child {
      margin: 0;
      padding: 0; }
    .blog-details-page .main-blk .right-blk .jtt-post-content ul li a, .blog-details-page .main-blk .right-blk .jtt-post-content ol li a {
      display: inline-block; }
.blog-details-page .main-blk .right-blk .jtt-post-content ul, .blog-details-page .main-blk .right-blk .jtt-post-content ol {
  padding-left: 20px; }
  .blog-details-page .main-blk .right-blk .jtt-post-content ul li, .blog-details-page .main-blk .right-blk .jtt-post-content ol li {
    font-size: 17px;
    padding-left: 0; }
.blog-details-page .main-blk .right-blk .jtt-post-content h1, .blog-details-page .main-blk .right-blk .jtt-post-content h2, .blog-details-page .main-blk .right-blk .jtt-post-content h3 {
  padding: 0 0 25px; }
.blog-details-page .main-blk .right-blk .jtt-post-content h2 {
  font-size: 30px; }
.blog-details-page .main-blk .right-blk .jtt-post-content .content-box {
  margin-bottom: 40px;
  border-radius: 4px;
  background-color: #f8f8f8; }
  .blog-details-page .main-blk .right-blk .jtt-post-content .content-box h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    font-family: 'PT Serif', serif;
    position: relative;
    cursor: pointer;
    padding: 25px; }
    .blog-details-page .main-blk .right-blk .jtt-post-content .content-box h1:before {
      content: '';
      background: url(../images/blog/up.svg) no-repeat;
      position: absolute;
      top: 35px;
      right: 30px;
      width: 15px;
      height: 15px;
      display: block; }
    .blog-details-page .main-blk .right-blk .jtt-post-content .content-box h1 span {
      font-size: 26px;
      font-weight: bold;
      text-align: left;
      font-family: 'PT Serif', serif; }
  .blog-details-page .main-blk .right-blk .jtt-post-content .content-box ul, .blog-details-page .main-blk .right-blk .jtt-post-content .content-box ol {
    margin: 0;
    padding: 25px 25px 50px 50px; }
    .blog-details-page .main-blk .right-blk .jtt-post-content .content-box ul li a, .blog-details-page .main-blk .right-blk .jtt-post-content .content-box ol li a {
      font-size: 17px;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 500;
      color: #121212;
      margin-left: 16px;
      display: block; }
@media (max-width: 991px) {
  .blog-details-page .main-blk .right-blk .jtt-post-content ol li {
    font-size: 19px; } }
@media (min-width: 992px) {
  .blog-details-page .main-blk .right-blk .jtt-post-content ul li {
    font-size: 17px; } }

.blog-details-page .main-blk .right-blk .inn-blk .left-inn .top-part {
  padding: 0; }
.blog-details-page .main-blk .right-blk .inn-blk .right-inn {
  display: none; }

@media (max-width: 991px) {
  .blog-page .blog-sec.custom-blog .main-blk .left-blk {
    padding-right: 0; }
    .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar {
      z-index: 999; }
      .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar ul {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        margin: 0; }
        .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar ul li {
          flex: 0 0 38%;
          margin-right: 15px; }
          .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar ul li a.active:after {
            width: 24px;
            right: -36px; }
      .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar .subscribe-bar {
        display: none;
        position: fixed;
        transform: translateY(130px);
        width: 100%;
        bottom: 0;
        height: 130px;
        z-index: 999;
        background: #fff;
        padding: 15px 0;
        text-align: center;
        left: 0;
        transition: 0.5s ease all; }
        .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar .subscribe-bar.stick {
          display: block;
          transform: translateY(0px);
          transition: 0.5s ease all;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
      .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar form #mc_embed_signup_scroll {
        display: inline-block; }
        .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar form #mc_embed_signup_scroll input.email {
          width: 100% !important;
          display: inline-block; }
        .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar form #mc_embed_signup_scroll .clear {
          display: inline-block; }
  .blog-page .blog-sec.custom-blog .main-blk .right-order-blk {
    order: 1;
    margin-bottom: 50px;
    margin-top: 0; }
  .blog-page.blog-details-page .main-blk .right-blk {
    margin-top: 0;
    padding-right: 0;
    width: 100%; }
  .blog-page .sidebar {
    margin-bottom: 30px; }

  .blog-page .main-blk .right-blk ul li .img-wrap {
    height: auto !important; }
  .blog-page .main-blk .right-blk .inn-blk .left-inn .img-wrap {
    height: auto !important; }
  .blog-page .img-wrap {
    height: auto !important; } }
@media (max-width: 991px) {
  .blog-details-page .sidebar {
    display: none; }
  .blog-details-page .follow {
    position: fixed;
    top: auto;
    bottom: 80px;
    right: 20px;
    z-index: 9999;
    background: #00f;
    height: 45px;
    width: 45px;
    padding: 0 10px 4px 14px;
    display: block; }
    .blog-details-page .follow .follow-icon {
      display: none;
      transition: all 0.2s; }
    .blog-details-page .follow.collapsed {
      padding: 10px; }
      .blog-details-page .follow.collapsed .follow-icon {
        display: block; }
    .blog-details-page .follow.navbar-toggler .icon-bar {
      background-color: #ffffff; }
    .blog-details-page .follow.navbar-toggler.collapsed .follow-icon img {
      width: 30px; }
    .blog-details-page .follow.navbar-toggler.collapsed .icon-bar {
      opacity: 0; }
  .blog-details-page .navbar-collapse.social-icons {
    position: fixed;
    top: auto;
    bottom: 0px;
    right: 0px;
    left: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    .blog-details-page .navbar-collapse.social-icons a {
      display: inline-block; }
  .blog-details-page .navbar-collapse h4 {
    padding: 8px 0;
    font-size: 18px; }
  .blog-details-page .navbar-collapse ul {
    padding-bottom: 8px;
    display: inline-block;
    width: 100%;
    text-align: center; }
    .blog-details-page .navbar-collapse ul li {
      display: inline-block;
      margin-right: 10px;
      text-align: center; }
      .blog-details-page .navbar-collapse ul li:last-child {
        margin-right: 0; }
  .blog-details-page .main-blk .right-blk .jtt-post-content ul li {
    font-size: 19px !important;
    line-height: 30px !important;
    margin: 0; }

  .blog-page p {
    font-size: 19px !important;
    line-height: 30px !important;
    padding: 0 0 35px; }
  .blog-page .date {
    font-size: 15px; }
  .blog-page .author-name {
    font-size: 15px; }
  .blog-page .post-categories li a {
    font-size: 14px; }

  .blog-category .blog-list .three-block p.content {
    font-size: 19px !important;
    line-height: 30px !important;
    padding: 0 0 30px !important; }
  .blog-category .blog-list .three-block .name {
    font-size: 14px !important;
    line-height: 22px !important; }
  .blog-category .blog-list .three-block .time-ago {
    font-size: 14px !important; }
  .blog-category .blog-list .three-block .bid-time {
    font-size: 14px !important; } }
@media (min-width: 992px) {
  .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar ul {
    margin: 0; }
    .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar ul li:nth-child(1), .blog-page .blog-sec.custom-blog .main-blk .left-blk .sidebar ul li:nth-child(2) {
      display: block; } }
.view-all-btn {
  font-size: 14px;
  color: #262626;
  margin: 0 0 15px;
  display: inline-block;
  font-weight: 500;
  cursor: pointer; }

.wp-block-image .aligncenter {
  margin: 0 !important; }

.lightbox {
  /** Hide the lightbox */
  display: none;
  /** Apply basic lightbox styling */
  z-index: 9999;
  color: #333333;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.5); }
  .lightbox h3 {
    font-family: 'fira-sans-medium';
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5effe; }
  .lightbox p.bottom-info {
    padding-bottom: 22px;
    font-size: 14px; }
  .lightbox .img-wrap {
    max-width: 283px;
    object-fit: cover;
    flex: 0 0 37%; }
  .lightbox .content .top-box {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5effe; }
  .lightbox .content .bottom-box .info p {
    font-weight: bold; }
  .lightbox .content .bottom-box .footer-subscribe-btn {
    flex: 0 0 52%; }
    .lightbox .content .bottom-box .footer-subscribe-btn #mc_embed_signup .mc-field-group {
      padding-bottom: 0;
      width: 100%; }
    .lightbox .content .bottom-box .footer-subscribe-btn #mc_embed_signup form {
      padding: 0; }
    .lightbox .content .bottom-box .footer-subscribe-btn #mc_embed_signup {
      background: transparent; }
    .lightbox .content .bottom-box .footer-subscribe-btn #mc-embedded-subscribe {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      background: #000;
      color: #fff;
      padding: 16px 11px;
      font-size: 14px;
      border: none; }
    .lightbox .content .bottom-box .footer-subscribe-btn #mc_embed_signup .mc-field-group input {
      height: 50px;
      padding: 15px 100px 15px 15px;
      font-size: 14px;
      border: 1px solid #000; }
      .lightbox .content .bottom-box .footer-subscribe-btn #mc_embed_signup .mc-field-group input::placeholder {
        color: #000;
        font-family: 'Fira Sans', sans-serif; }
  .lightbox .content-side {
    padding-left: 27px;
    padding-right: 50px; }
    .lightbox .content-side h4 {
      font-family: 'PT Serif', serif;
      font-size: 22px;
      padding-bottom: 15px;
      font-weight: bold;
      padding-top: 13px;
      position: relative;
      line-height: 32px; }
    .lightbox .content-side p {
      color: #262626;
      font-size: 12px;
      margin-bottom: 23px; }
    .lightbox .content-side .read-more a {
      color: #16161c;
      font-family: 'lato-bold';
      position: relative; }
      .lightbox .content-side .read-more a:before {
        content: '';
        position: absolute;
        background: url(../images/arrow.svg) no-repeat;
        width: 20px;
        height: 20px;
        right: -30px;
        top: 5px; }

.lightbox:after {
  content: '';
  display: table;
  clear: both; }

.lightbox .box {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  min-width: 652px;
  padding: 30px;
  box-shadow: 0 14px 74px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  margin: 0 auto;
  border-radius: 10px; }

.lightbox .title {
  margin: 0;
  padding: 0 0 10px 0px;
  border-bottom: 1px #ccc solid;
  font-size: 22px; }

.lightbox .content {
  display: block;
  padding: 10px 0 0 0px;
  font-size: 18px;
  line-height: 22px;
  clear: both; }

.lightbox .close {
  float: right;
  display: block;
  text-decoration: none;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #858585; }

.lightbox #close {
  cursor: pointer;
  width: auto;
  position: absolute;
  right: 20px;
  top: 20px; }

.lightbox .open {
  /** Show lightbox when mouse leaves the browser window */
  display: block;
  outline: none; }

.lightbox.dark .box {
  background-color: #16161c; }
.lightbox.dark #close img {
  max-width: 15px; }
.lightbox.dark h3 {
  color: #fff; }
.lightbox.dark .content-side h4, .lightbox.dark .content-side p {
  color: #fff; }
.lightbox.dark .content-side .read-more a {
  color: #ffffff; }
  .lightbox.dark .content-side .read-more a:before {
    background: url("../images/blog/arrow-white.svg") no-repeat; }
.lightbox.dark .content .bottom-box .info p {
  color: #ffffff; }
.lightbox.dark .content .bottom-box .footer-subscribe-btn #mc_embed_signup .mc-field-group input {
  border: 1px solid #fff;
  background: #16161c; }
  .lightbox.dark .content .bottom-box .footer-subscribe-btn #mc_embed_signup .mc-field-group input::placeholder {
    color: #fff;
    font-family: 'Fira Sans', sans-serif; }
.lightbox.dark .content .bottom-box .footer-subscribe-btn #mc-embedded-subscribe {
  background: #fff;
  color: #000; }

@media (max-width: 991px) {
  .lightbox .img-wrap {
    flex: 0 0 100%; }
  .lightbox h3 {
    padding-bottom: 30px; }
  .lightbox .box {
    max-width: 350px;
    padding: 20px;
    min-width: 350px; }
  .lightbox .content-side {
    padding-left: 0;
    padding-top: 20px; }
  .lightbox .content .top-box {
    justify-content: left; }
  .lightbox .content .bottom-box .info p {
    padding-bottom: 15px;
    font-size: 16px; }
  .lightbox .content .bottom-box .footer-subscribe-btn {
    flex: 0 0 100%; }
  .lightbox .img-wrap:after {
    top: 70px;
    left: 40px; } }
#subscribe-result-three p {
  color: #fff;
  padding-top: 15px; }

#subscribe-result-two p {
  display: table-caption;
  position: absolute;
  background: #0000ff;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 10px;
  font-family: lato-regular;
  font-weight: 400; }
  #subscribe-result-two p:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 13%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0000ff transparent; }

.thanks-popup {
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  margin: 0 auto;
  max-width: 480px; }
  @media (max-width: 767px) {
    .thanks-popup {
      padding: 0 15px; } }

.custom-popup .modal-body#subscribe-popup .close img {
  float: none;
  width: auto;
  left: 0;
  bottom: 0;
  border-radius: 0; }

.custom-popup #my-popup.modal-body.hidden {
  display: none;
  max-width: 480px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 14px 74px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 auto;
  padding: 0; }
  .custom-popup #my-popup.modal-body.hidden img {
    width: 100%;
    left: 0;
    border-radius: 0;
    padding-bottom: 30px; }
  .custom-popup #my-popup.modal-body.hidden button.close {
    cursor: pointer;
    opacity: 1; }
  .custom-popup #my-popup.modal-body.hidden h3 {
    font-family: 'PT Serif';
    font-size: 18px;
    color: #262626;
    font-weight: bold; }
  .custom-popup #my-popup.modal-body.hidden p {
    padding: 15px 58px 38px;
    font-family: 'Fira Sans';
    font-size: 12px;
    color: #262626; }
  @media (max-width: 991px) {
    .custom-popup #my-popup.modal-body.hidden img {
      display: block; } }

.blog-page .main-blk .right-blk ul.latest-blog li {
  margin-bottom: 30px; }

.img-wrap {
  position: relative; }

.img-wrap .image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #f8f8f8, #f8f8f8, #f2f2f2, #f8f8f8);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
#button {
  display: inline-block;
  background-color: #ffda00;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;
  color: #fff; }

#button:hover {
  cursor: pointer;
  background-color: #000; }

#button.show {
  opacity: 1;
  visibility: visible; }

@media (max-width: 991px) {
  #button {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: background-color .3s,opacity .5s,visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000; }

  #button:after {
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 42px;
    color: #fff; } }
.blog-details-page .sidebar.left-sidebar {
  margin: 0px 0px 20px 0;
  top: 120px; }
  .blog-details-page .sidebar.left-sidebar .inn-author .date {
    padding: 0 0 15px; }
  .blog-details-page .sidebar.left-sidebar .post-categories {
    color: #8b8b8b; }
    .blog-details-page .sidebar.left-sidebar .post-categories li {
      display: inline-block;
      list-style: none;
      width: auto !important;
      line-height: 1.2; }
      .blog-details-page .sidebar.left-sidebar .post-categories li a {
        color: #8b8b8b;
        text-transform: uppercase;
        margin: 0;
        font-size: 12px;
        opacity: 0.5;
        border-right: 1px solid #8b8b8b;
        margin-right: 10px !important;
        padding-right: 10px !important; }
      .blog-details-page .sidebar.left-sidebar .post-categories li:last-child a {
        border: none; }

@media (min-width: 992px) {
  .blog-details-page .main-blk .right-blk .top-part .inn-author,
  .blog-details-page .main-blk .right-blk .top-part h4 {
    display: none; } }
.sidebar h5 {
  font-size: 16px;
  margin-bottom: 15px; }

#summery-list ul li.active a {
  color: #0000ff; }
#summery-list ul li a {
  margin: 0 0 8px;
  color: #8b8b8b;
  font-size: 14px;
  opacity: 0.8; }

.grey-border {
  padding: 10px;
  border: 1px solid #ccc; }

#subscribe-blk br {
  display: block; }

.blog-page .main-blk .left-blk .desk-top {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; }
  .blog-page .main-blk .left-blk .desk-top br {
    display: block; }
  .blog-page .main-blk .left-blk .desk-top ul li {
    display: block; }
    .blog-page .main-blk .left-blk .desk-top ul li a {
      color: #8b8b8b;
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
      opacity: .5; }
  .blog-page .main-blk .left-blk .desk-top h4 {
    padding: 15px 0 10px;
    text-align: center;
    margin: 0; }
  .blog-page .main-blk .left-blk .desk-top .inn-author {
    padding-top: 10px;
    float: none;
    width: 100%;
    text-align: center; }
    .blog-page .main-blk .left-blk .desk-top .inn-author .logo-author {
      display: block;
      float: none;
      margin: 0 auto 15px; }

@media (max-width: 991px) {
  .blog-page .main-blk .left-blk .desk-top {
    display: none; } }
.blog-page.blog-details-page .newsletter-blk {
  padding: 46px 0 46px; }

.related-post.rel-post {
  border-top: 1px solid #eff1f3;
  padding: 46px 0 0 0; }
  .related-post.rel-post h3 {
    padding: 0 0 30px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    text-align: center; }
  .related-post.rel-post .small-title {
    padding: 16px 0; }
    .related-post.rel-post .small-title .post-categories li:first-child {
      display: inline-block;
      width: auto !important;
      border-right: 1px solid #8b8b8b;
      margin-right: 15px !important;
      padding-right: 15px !important; }
  .related-post.rel-post span.hover-line {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), #001033 2px) !important;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .2s; }
  .related-post.rel-post ul li:hover span.hover-line {
    background-size: 100% 100%; }
  @media (min-width: 992px) {
    .related-post.rel-post ul {
      display: flex; }
      .related-post.rel-post ul li {
        display: inline-block;
        width: 50%; } }
  .related-post.rel-post ul {
    margin: 24px 0 0;
    padding: 0; }
    .related-post.rel-post ul li h2 {
      font-size: 22px; }
    .related-post.rel-post ul img {
      margin: 0;
      height: auto; }
  .related-post.rel-post:hover img {
    transform: unset !important; }
  .related-post.rel-post ul {
    padding: 0; }
    .related-post.rel-post ul li {
      list-style-type: none; }
      .related-post.rel-post ul li:last-child {
        margin-right: 0; }
      .related-post.rel-post ul li:hover img {
        transform: scale(1.05) !important;
        -webkit-transform: scale(1.05) !important;
        -o-transform: scale(1.05) !important; }
      .related-post.rel-post ul li img {
        transform: scale(1);
        -webkit-transition: -webkit-transform .4s ease-out 0s;
        transition: -webkit-transform .4s ease-out 0s;
        -o-transition: -o-transform .4s ease-out 0s;
        transition: transform .4s ease-out 0s;
        transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
        max-width: 100%;
        display: block;
        width: 100%; }
      .related-post.rel-post ul li .img-wrap {
        height: 150px !important; }
  @media (min-width: 992px) {
    .related-post.rel-post ul.sec-list li {
      margin-right: 45px; } }
  @media (max-width: 991px) {
    .related-post.rel-post ul li {
      margin: 0 0 30px; }
      .related-post.rel-post ul li:last-child {
        display: inline-block; }
    .related-post.rel-post ul.sec-list li p {
      margin-bottom: 10px;
      padding: 0 0 80px; } }

.blog-page.blog-details-page .main-blk.top-bar {
  justify-content: normal; }
  @media (min-width: 992px) {
    .blog-page.blog-details-page .main-blk.top-bar .left-blk {
      padding-right: 3%;
      width: 18%; }
    .blog-page.blog-details-page .main-blk.top-bar .right-blk {
      max-width: none; } }

@media (min-width: 992px) {
  .blog-page .main-blk {
    margin-bottom: 30px; } }
.blog-details-page .main-blk .right-blk .table-content {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; }
  .blog-details-page .main-blk .right-blk .table-content table {
    table-layout: auto;
    overflow: hidden;
    margin-bottom: 0;
    width: 100%; }
    .blog-details-page .main-blk .right-blk .table-content table tr td {
      font-size: 16px !important;
      color: #000;
      padding: 10px 30px !important;
      border: 1px solid #f3f3f3; }
      .blog-details-page .main-blk .right-blk .table-content table tr td:nth-child(1n) {
        width: 35%; }
      .blog-details-page .main-blk .right-blk .table-content table tr td:nth-child(2n) {
        width: 65%; }
    .blog-details-page .main-blk .right-blk .table-content table tr th {
      font-size: 20px;
      color: #000;
      padding: 12px 30px;
      background: #f3f3f3;
      font-family: 'pt-serif-bold';
      line-height: normal; }

/*# sourceMappingURL=custom-new.css.map */
