@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Bold.woff2') format('woff2'),
  url('../fonts/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
  url('../fonts/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
  url('../fonts/LibreFranklin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'fira-sans-medium';
  src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
  url('../fonts/FiraSans-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.justify-center {
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
}
.space-between {
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
}
.relative {
  position: relative;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}


.blue-dot {
  position: absolute;
  bottom: -15px;
  left: -15px;
}


.about-us {
  height: 100vh;
  h2 {
    font-size: 36px;
    color: #000000;
    font-family: 'PT Serif';
    margin: 0 0 24px;
    font-weight: bold;
  }
  p {
    font-size: 17px;
    color: #121212;
    font-family: 'Fira Sans';
    line-height: 28px;
  }
  .top-banner {
    background: url("../images/about-us/Ellipse.png") no-repeat center 60px;
    padding: 130px 0 100px;
    h1 {
      font-size: 56px;
      color: #000000;
      font-family: 'PT Serif';
      font-weight: bold;
    }
  }
  .who-are-we {
    padding: 0 0 70px;
    .left-blk {
      flex: 0 0 47%;
    }
    .right-blk {
      margin-left: 0;
      flex: 0 0 50%;
      position: relative;
    }
  }
  .team-members {
    padding: 48px 0 0px;
    .block {
      &:nth-child(2) {
      margin: 0 48px;
      }
      a {
         display: block;
         img.linkedin {
           position: absolute;
           bottom: 0;
           right: 0;
         }
      }
      h3 {
        font-size: 26px;
        color: #000000;
        font-family: 'PT Serif';
        margin: 36px 0 16px;
        font-weight: bold;
      }
      p {
        color: #898989;
        text-transform: uppercase;
      }
    }
  }
  .team-members + .team-members {
    padding: 70px 0 120px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 40px;
  }
  @media (max-width: 1920px) {
    height: auto;
  }
  @media (max-width: 991px) {
    h2 {
      font-size: 30px;
    }
    .top-banner {
      h1 {
        font-size: 36px;
      }
    }
    .who-are-we {
      padding: 0 0 100px;
      .left-blk {
        flex: 0 0 100%;
      }
      .right-blk {
        flex: 0 0 100%;
        margin-top: 50px;
      }
    }
    .team-members {
      .block {
        &:nth-child(2) {
          margin: 0 ;
        }
      }
      .block + .block {
        margin-top: 50px;
      }
    }
    .team-members + .team-members {
      padding: 40px 0 100px;
    }
  }
}

.blog-category {
  .tabs {
    //border-bottom: 1px solid #dedede;
    //border-top: 1px solid #dedede;
    //margin-bottom: 10px;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        a {
          padding: 12px 23px;
          font-size: 17px;
          font-family: 'Fira Sans';
          color: #262626;
          transition: 0.5s ease all;
          display: block;
          &:hover {
            color: #0000ff;
          }
        }
        &:nth-child(1) {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
  .customer-support {
    padding-top: 0px;
    h3 {
      font-size: 24px;
      color: #000000;
      font-family: 'PT Serif';
      font-weight: bold;
    }
    a {
      font-size: 17px;
      color: #262626;
      font-family: 'Fira Sans';
      padding-right: 30px;
      position: relative;
      &:before {
        content: '';
        background: url("../images/blog-category/down-arrow.svg") no-repeat;
        position: absolute;
        right: 0;
        top: 9px;
        height: 16px;
        width: 16px;
      }
    }
  }
  .blog-list {
    padding-top: 45px;
    .three-block {
      padding-bottom: 25px;
      border-bottom: 1px solid #dedede;
      width: 33.33%;
      position: relative;
      display: inline-block;
      flex-wrap: wrap;
      span.hover-line {
        width: calc(100%);
        background-image: linear-gradient(transparent calc(100% - 2px), #001033 2px) !important;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.2s;
      }
      &:hover{
        span.hover-line {
          background-size: 100% 100%;
        }
        img{
          transform: scale(1.05) !important;
          -webkit-transform: scale(1.05) !important;
          -o-transform: scale(1.05) !important;
        }
      }
      img {
        margin-bottom: 16px;
        transform: scale(1);
        -webkit-transition: -webkit-transform .4s ease-out 0s;
        transition: -webkit-transform .4s ease-out 0s;
        -o-transition: -o-transform .4s ease-out 0s;
        transition: transform .4s ease-out 0s;
        transition: transform .4s ease-out 0s,-webkit-transform .4s ease-out 0s,-o-transform .4s ease-out 0s;
        max-width: 100%;
        display: block;
        width: 100%;
      }
      .img-wrap{
        height: 185px;
        overflow: hidden;
      }
      p.title {
        font-size: 12px;
        text-transform: uppercase;
        color: #898989;
        padding-bottom: 16px;
      }
      h3,h2 {
        font-size: 26px;
        color: #000000;
        font-family: 'PT Serif';
        font-weight: bold;
        padding-bottom: 8px;
      }
      p.content {
        font-size: 17px;
        color: #121212;
        font-family: 'Fira Sans';
        line-height: 28px;
        padding-bottom: 16px;
      }
      .bottom-stick {
        position: absolute;
        bottom: 15px;
      }
      .name {
        font-size: 12px;
        color: #0000ff;
        font-family: 'Fira Sans';
        line-height: 18px;
      }
      .time-ago {
        font-size: 12px;
        color: #898989;
        padding-left: 22px;
        font-family: 'Fira Sans';
      }
      .bid-time {
        font-size: 12px;
        color: #898989;
        padding-left: 7px;
        margin-left: 7px;
        font-family: 'Fira Sans';
        position: relative;
        border-left: 1px solid #898989;
      }
      &:nth-child(2) {
        margin-left: 45px;
        margin-right: 45px;
      }
    }
  }
  .pagination {
     padding: 45px 0 100px;
     border-bottom: 1px solid #dedede;
     width: 100%;
    .nav-links{
      margin: 0 auto;
    }
    //.nav-links *{
    //  padding: 0 10px;
    //}
    .page-numbers{
      padding: 0 10px !important;
    }
    .current {
      color: #00f !important;
    }
    a {
      font-family: 'Libre Franklin';
      font-size: 17px;
      color: #898989;
      &:hover{
        color: #262626 !important;
      }
    }
    //a.page-numbers ,span{
    //  padding-left: 25px;
    //}
    //.page-numbers {
    //  &:nth-child(1) {
    //    padding-left: 0;
    //  }
    //}
    //a + a {
    //  padding-left: 25px;
    //}
  }
  @media (max-width: 991px) {
    .tabs {
      ul {
        li {
          width: 100%;
          &:nth-child(1) {
            a {
              padding: 12px 23px;
            }
          }
        }
      }
    }
    .blog-list {
      padding-top: 40px;
      .three-block {
        width: 100% !important;
        margin: 0 0 40px !important;
        &:nth-child(2) {
          margin: 40px 0;
        }
        h4 , a{
          width: 100%;
        }
      }
    }
    .pagination {
      padding: 50px 0 50px;
    }
    .customer-support a {
      &.recent {
        margin-top: 15px;
      }
    }
  }
}

#the_contact {
  min-height: calc(100vh - 310px);
  .contact-form {
    textarea.form-control {
      height: 108px !important;
    }
  }
  @media (max-width: 1920px) {
    height: auto;
  }
}

#the_contact .contact-form .btn-primary {
  border-radius: 4px !important;
}
.contact-form  {
  padding: 50px 0 0px;
  //border-bottom: 1px solid #dedede;
  .left-sec {
    width: 42%;
    h1 {
      font-size: 36px;
      color: #000000;
      font-family: 'PT Serif';
      font-weight: bold;
      padding: 0;
    }
    p {
      font-size: 17px;
      color: #121212;
      font-family: 'Fira Sans';
      padding-bottom: 36px;
      &.resp_msg {
        width: 100%;
        padding: 15px 0 0;
        margin: 0 !important;
      }
    }
    form {
      .form-group {
        margin-bottom: 23px;
        &.names {
          display:inline-block;
          width: 46.4%;
        }
        &.fname {
          margin-right: 32px;
        }
        label {
          margin-bottom: 5px;
          .screen-reader-text {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.07px;
            color: #6c757d;
            font-family: 'Fira Sans';
          }
        }
        .form-control {
          border-radius: 4px !important;
          border: 1px solid #dedede;
          height: 50px !important;
          padding: 10px 19px !important;
        }
        .form-control::placeholder {
          font-size: 14px;
        }
      }
      .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,.btn-primary.focus, .btn-primary:focus {
        box-shadow: none;
      }
      .form-control:focus {
        box-shadow: none;
      }
    }
  }
  .right-sec {
    .contact-details {
      padding-top: 39px;
        h4 {
          font-size: 14px;
          line-height: 20px;
          font-family: 'Libre Franklin';
          font-weight: bold;
          color: #001033;
          margin-bottom: 9px;
        }
      .email-detail {
        a {
          display: block;
          font-size: 14px;
          line-height: 20px;
          color: #001033;
          font-family: 'Fira Sans';
          padding-bottom: 5px;
          padding-left: 50px;
          margin-left: 50px;
          border-left: 1px solid #dedede;
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding: 100px 0 70px;
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .left-sec {
      width: 100%;
      margin-bottom: 50px;
      form {
        .form-group {
          &.names {
            width: 100%;
          }
        }
      }
    }
    .right-sec {
      .contact-details {
        .address {
          width: 100%;
        }
        .email-detail {
          margin-top: 30px;
          padding-top: 30px;
          border-top: 1px solid #dedede;
          a {
            padding-left: 0px;
            margin-left: 0px;
            border-left: none;
          }
        }
      }
    }
  }
}

.blog-category{
  //border-bottom: 1px solid #ebedf0;
  hr{
    border-top: 1px solid #ebedf0;
    margin-top: 0;
  }
}
.no-border{
  margin-bottom: 20px;
}


.blog-category  {
  .blog-list {
    .no-blog{
      max-width: 40%;
      margin: 20px auto 100px auto;
    }
  }
}



.write-for-us{
  ul, ol{
    li{
      padding: 0 0 10px;
      font-size: 17px;
      line-height: 28px;
      color: #262626;
    }
  }
  ul{
    ol{
      padding: 20px 0 0 0px;
    }
  }
  ol{
    padding: 0 0 0 20px;
  }
  ul{
    padding: 0 0 0 20px;
  }
  .content-panel{
    p.blog-links{
      padding: 0 0 15px;
    }
  }

}


@media (max-width: 991px) {
  .blog-category {
    .tabs {
      ul{
        display: -webkit-box !important;
        flex-wrap: nowrap;
        overflow: auto;
        li{
          width: auto;
        }
      }
    }
  }
  .policy-page {
    .content-panel {
      p{
        font-size: 19px !important;
        line-height: 30px !important;
      }
      ul.info-links{
        li{
          font-size: 19px !important;
          line-height: 30px !important;
        }
      }
    }
  }
  .post-categories {
    li {
      a{
        font-size: 14px;
      }
    }
  }
}

.page-body{
  padding: 0;
}

.policy-page {
  border-bottom: 1px solid #ebedf0;
  .top-panel {
    padding: 50px 0 50px;
    background-color: #f8f9fa;
    h1 {
      font-family: 'PT Serif', serif;
      font-weight: bold;
    }
  }
  .content-panel {
    max-width: 750px;
    margin: 0 auto;
    padding: 60px 0 50px;
    p {
      padding: 0 0 40px;
      font-size: 17px;
      line-height: 28px;
      color: #262626;
    }
    h3 {
      font-size: 26px;
      color: #262626;
      font-family: 'PT Serif', serif;
      font-weight: bold;
      padding: 0 0 25px;
    }
    ul{
      &.links {
        padding: 0 0 25px;
        li {
          list-style-type: none;
          margin-bottom: 15px;
        }
      }
    }
    ul {
      &.list-content {
        padding: 0 0 0 20px;
        strong {
          font-size: 17px;
          margin-bottom: 10px;
          display: block;
        }
      }
    }
    ul {
      &.info-links {
        padding: 0 0 0 20px;
        li {
          //list-style-type: none;
          //margin-bottom: 5px;
          padding: 0 0 10px;
          font-size: 17px;
          line-height: 28px;
          color: #262626;
          h3 {
            padding: 0 0 10px;
          }
        }
      }
    }
    h2 {
      font-size: 30px;
      padding: 0 0 25px;
      font-family: 'PT Serif', serif;
      font-weight: bold;
    }
  }
}


